### L'objet est du Notebook est d'utiliser en entrée les données provenant de RStudio
#### Création des interactions d'ordre 2 pour les variables catégorielles
#### Création des dummy variables pour toutes les variables catégorielles obtenus<br>
Les .csv ont été créés grâce au programme "maestro.R" dans "/proj/bikesharing/p02_features"

In [8]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

# On charge les .csv générés grâce à "maestro.R"  dans RStudio 
df_train_kaggle = pd.read_csv("train.csv")
df_test_kaggle = pd.read_csv("test.csv")

# Le dataset de "test" de Kaggle ne contient pas la variable "count"
# On supprime donc la colonne "count" pour le dataset "train"
df_train_kaggle = df_train_kaggle.drop("count", axis = 1)

# Et on concatène les données 
df = pd.concat([df_train_kaggle,df_test_kaggle])

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

In [9]:
list(df)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_hour',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_year',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime']

In [2]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO'] 
all_categorical_o

In [4]:
all_numeric_o

['NO_atemp', 'NO_humidity', 'NO_temp', 'NO_windspeed']

### I Création du dataset des variables "Origin"

On passe en dummies les catégorielles

In [7]:
all_categorical_o

['CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_hour',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_year']

In [10]:
list(df)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_hour',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_year',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime']

In [6]:
# df[all_categorical_o].dtypes

In [40]:
# df_all_categorical_o = df[all_categorical_o].applymap(str)

In [41]:
# df_all_categorical_o.dtypes

In [42]:
df[all_categorical_o].describe()

       CO_workingday       CO_hour       CO_year    CO_holiday
count   10886.000000  10886.000000  10886.000000  10886.000000
mean        0.680875     11.541613   2011.501929      0.028569
std         0.466159      6.915838      0.500019      0.166599
min         0.000000      0.000000   2011.000000      0.000000
25%         0.000000      6.000000   2011.000000      0.000000
50%         1.000000     12.000000   2012.000000      0.000000
75%         1.000000     18.000000   2012.000000      0.000000
max         1.000000     23.000000   2012.000000      1.000000

In [43]:
df['CO_hour_new'] = df['CO_hour'].map(lambda x: str(x))
df = df.drop('CO_hour', axis=1)
df = df.rename(columns={'CO_hour_new': 'CO_hour'})

df['CO_year_new'] = df['CO_year'].map(lambda x: str(x))
df = df.drop('CO_year', axis=1)
df = df.rename(columns={'CO_year_new': 'CO_year'})

In [44]:
df[all_categorical_o].describe()

       CO_workingday    CO_holiday
count   10886.000000  10886.000000
mean        0.680875      0.028569
std         0.466159      0.166599
min         0.000000      0.000000
25%         0.000000      0.000000
50%         1.000000      0.000000
75%         1.000000      0.000000
max         1.000000      1.000000

In [46]:
# Transformation de toutes les variables catégorielles:
df_all_dummies_o = pd.get_dummies(df[all_categorical_o])

In [47]:
df_all_dummies_o.shape
# (10886, 47)

(10886, 71)

In [48]:
list(df_all_dummies_o)

['CO_workingday',
 'CO_holiday',
 'CO_month_April',
 'CO_month_August',
 'CO_month_December',
 'CO_month_February',
 'CO_month_January',
 'CO_month_July',
 'CO_month_June',
 'CO_month_March',
 'CO_month_May',
 'CO_month_November',
 'CO_month_October',
 'CO_month_September',
 'CO_hour_0',
 'CO_hour_1',
 'CO_hour_10',
 'CO_hour_11',
 'CO_hour_12',
 'CO_hour_13',
 'CO_hour_14',
 'CO_hour_15',
 'CO_hour_16',
 'CO_hour_17',
 'CO_hour_18',
 'CO_hour_19',
 'CO_hour_2',
 'CO_hour_20',
 'CO_hour_21',
 'CO_hour_22',
 'CO_hour_23',
 'CO_hour_3',
 'CO_hour_4',
 'CO_hour_5',
 'CO_hour_6',
 'CO_hour_7',
 'CO_hour_8',
 'CO_hour_9',
 'CO_day_Friday',
 'CO_day_Monday',
 'CO_day_Saturday',
 'CO_day_Sunday',
 'CO_day_Thursday',
 'CO_day_Tuesday',
 'CO_day_Wednesday',
 'CO_year_2011',
 'CO_year_2012',
 'CO_season_Automne',
 'CO_season_Hiver',
 'CO_season_Printemps',
 'CO_season_Été',
 'CO_weather_Beau temps',
 'CO_weather_Nuageux',
 'CO_weather_Pluvieux (+)',
 'CO_weather_Pluvieux (-)',
 'CO_humidityQ_(47,62]',
 'CO_humidityQ_(62,77]',
 'CO_humidityQ_(77,100]',
 'CO_humidityQ_[0,47]',
 'CO_tempQ_(13.9,20.5]',
 'CO_tempQ_(20.5,26.2]',
 'CO_tempQ_(26.2,41]',
 'CO_tempQ_[0.82,13.9]',
 'CO_atempQ_(16.7,24.2]',
 'CO_atempQ_(24.2,31.1]',
 'CO_atempQ_(31.1,45.5]',
 'CO_atempQ_[0.76,16.7]',
 'CO_windspeedQ_(13,17]',
 'CO_windspeedQ_(17,57]',
 'CO_windspeedQ_(7,13]',
 'CO_windspeedQ_[0,7]']

In [49]:
df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
list_var_clean_X = [var for var in list(df_numeric_and_categorical_o) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_categorical_o[list_var_clean_X]
clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [50]:
len(list(X_train))

75

In [51]:
X_train.to_pickle("X_train_o.pkl")
X_test.to_pickle("X_test_o.pkl")
Y_train.to_pickle("Y_train_o.pkl")
Y_test.to_pickle("Y_test_o.pkl")

II Création d'un dataset avec les variables Origin et New et interactions entre catégorielles d'ordre 2<br>
On peut aussi ajouter les interactions entre variables numériques

On prend toutes les variables "CO", "NO", "NN" et "CN"

In [83]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

df_train_kaggle = pd.read_csv("train.csv")
df_test_kaggle = pd.read_csv("test.csv")

df_train_kaggle_without_y = df_train_kaggle.drop("count", axis = 1)
df = pd.concat([df_train_kaggle_without_y,df_test_kaggle])

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

In [47]:
# all_origin_var_and_new = [name_var for name_var in list(df) if name_var[0:2] == 'CO' or name_var[0:2] == 'NO' or name_var[0:2] == 'NN' or name_var[0:2] == 'CN']
all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']

In [48]:
len(all_categorical)

16

In [6]:
df[all_categorical].dtypes

CO_month          object
CO_workingday      int64
CO_hour            int64
CO_day            object
CO_year            int64
CO_season         object
CO_weather        object
CO_humidityQ      object
CO_tempQ          object
CO_atempQ         object
CO_windspeedQ     object
CO_holiday         int64
CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
dtype: object

In [7]:
all_categorical

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [49]:
df_all_categorical = df[all_categorical].applymap(str)
# df_all_categorical.dtypes

In [9]:
df_all_categorical.shape

(10886, 16)

In [10]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [12]:
# all_origin_var_and_new

In [109]:
# df_all_categorical = df[all_categorical].applymap(str)
# df_all_categorical.dtypes

Ajout des interactions d'ordre 2 entre variables catégorielles

In [110]:
# df[all_categorical].head()

In [50]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var
    print (list(df))

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    # print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [14]:
df.shape

(10886, 31)

In [15]:
all_categorical

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [16]:
len(all_categorical)

16

In [51]:
list_of_categ_var = all_categorical
df_with_interaction = interaction_order(df_all_categorical,list_of_categ_var, 2)

['CN_school', 'CN_soleilQ', 'CN_tendance_1Q', 'CN_tendance_2Q', 'CO_atempQ', 'CO_day', 'CO_holiday', 'CO_hour', 'CO_humidityQ', 'CO_month', 'CO_season', 'CO_tempQ', 'CO_weather', 'CO_windspeedQ', 'CO_workingday', 'CO_year']

In [29]:
list(df_with_interaction)

['CO_month_+_CO_workingday',
 'CO_month_+_CO_hour',
 'CO_month_+_CO_day',
 'CO_month_+_CO_year',
 'CO_month_+_CO_season',
 'CO_month_+_CO_weather',
 'CO_month_+_CO_humidityQ',
 'CO_month_+_CO_tempQ',
 'CO_month_+_CO_atempQ',
 'CO_month_+_CO_windspeedQ',
 'CO_month_+_CO_holiday',
 'CO_month_+_CN_school',
 'CO_month_+_CN_soleilQ',
 'CO_month_+_CN_tendance_1Q',
 'CO_month_+_CN_tendance_2Q',
 'CO_workingday_+_CO_hour',
 'CO_workingday_+_CO_day',
 'CO_workingday_+_CO_year',
 'CO_workingday_+_CO_season',
 'CO_workingday_+_CO_weather',
 'CO_workingday_+_CO_humidityQ',
 'CO_workingday_+_CO_tempQ',
 'CO_workingday_+_CO_atempQ',
 'CO_workingday_+_CO_windspeedQ',
 'CO_workingday_+_CO_holiday',
 'CO_workingday_+_CN_school',
 'CO_workingday_+_CN_soleilQ',
 'CO_workingday_+_CN_tendance_1Q',
 'CO_workingday_+_CN_tendance_2Q',
 'CO_hour_+_CO_day',
 'CO_hour_+_CO_year',
 'CO_hour_+_CO_season',
 'CO_hour_+_CO_weather',
 'CO_hour_+_CO_humidityQ',
 'CO_hour_+_CO_tempQ',
 'CO_hour_+_CO_atempQ',
 'CO_hour_+_CO_windspeedQ',
 'CO_hour_+_CO_holiday',
 'CO_hour_+_CN_school',
 'CO_hour_+_CN_soleilQ',
 'CO_hour_+_CN_tendance_1Q',
 'CO_hour_+_CN_tendance_2Q',
 'CO_day_+_CO_year',
 'CO_day_+_CO_season',
 'CO_day_+_CO_weather',
 'CO_day_+_CO_humidityQ',
 'CO_day_+_CO_tempQ',
 'CO_day_+_CO_atempQ',
 'CO_day_+_CO_windspeedQ',
 'CO_day_+_CO_holiday',
 'CO_day_+_CN_school',
 'CO_day_+_CN_soleilQ',
 'CO_day_+_CN_tendance_1Q',
 'CO_day_+_CN_tendance_2Q',
 'CO_year_+_CO_season',
 'CO_year_+_CO_weather',
 'CO_year_+_CO_humidityQ',
 'CO_year_+_CO_tempQ',
 'CO_year_+_CO_atempQ',
 'CO_year_+_CO_windspeedQ',
 'CO_year_+_CO_holiday',
 'CO_year_+_CN_school',
 'CO_year_+_CN_soleilQ',
 'CO_year_+_CN_tendance_1Q',
 'CO_year_+_CN_tendance_2Q',
 'CO_season_+_CO_weather',
 'CO_season_+_CO_humidityQ',
 'CO_season_+_CO_tempQ',
 'CO_season_+_CO_atempQ',
 'CO_season_+_CO_windspeedQ',
 'CO_season_+_CO_holiday',
 'CO_season_+_CN_school',
 'CO_season_+_CN_soleilQ',
 'CO_season_+_CN_tendance_1Q',
 'CO_season_+_CN_tendance_2Q',
 'CO_weather_+_CO_humidityQ',
 'CO_weather_+_CO_tempQ',
 'CO_weather_+_CO_atempQ',
 'CO_weather_+_CO_windspeedQ',
 'CO_weather_+_CO_holiday',
 'CO_weather_+_CN_school',
 'CO_weather_+_CN_soleilQ',
 'CO_weather_+_CN_tendance_1Q',
 'CO_weather_+_CN_tendance_2Q',
 'CO_humidityQ_+_CO_tempQ',
 'CO_humidityQ_+_CO_atempQ',
 'CO_humidityQ_+_CO_windspeedQ',
 'CO_humidityQ_+_CO_holiday',
 'CO_humidityQ_+_CN_school',
 'CO_humidityQ_+_CN_soleilQ',
 'CO_humidityQ_+_CN_tendance_1Q',
 'CO_humidityQ_+_CN_tendance_2Q',
 'CO_tempQ_+_CO_atempQ',
 'CO_tempQ_+_CO_windspeedQ',
 'CO_tempQ_+_CO_holiday',
 'CO_tempQ_+_CN_school',
 'CO_tempQ_+_CN_soleilQ',
 'CO_tempQ_+_CN_tendance_1Q',
 'CO_tempQ_+_CN_tendance_2Q',
 'CO_atempQ_+_CO_windspeedQ',
 'CO_atempQ_+_CO_holiday',
 'CO_atempQ_+_CN_school',
 'CO_atempQ_+_CN_soleilQ',
 'CO_atempQ_+_CN_tendance_1Q',
 'CO_atempQ_+_CN_tendance_2Q',
 'CO_windspeedQ_+_CO_holiday',
 'CO_windspeedQ_+_CN_school',
 'CO_windspeedQ_+_CN_soleilQ',
 'CO_windspeedQ_+_CN_tendance_1Q',
 'CO_windspeedQ_+_CN_tendance_2Q',
 'CO_holiday_+_CN_school',
 'CO_holiday_+_CN_soleilQ',
 'CO_holiday_+_CN_tendance_1Q',
 'CO_holiday_+_CN_tendance_2Q',
 'CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_soleilQ_+_CN_tendance_1Q',
 'CN_soleilQ_+_CN_tendance_2Q',
 'CN_tendance_1Q_+_CN_tendance_2Q']

In [18]:
df_with_interaction.head()

,CO_month_+_CO_workingday,CO_month_+_CO_hour,CO_month_+_CO_day,CO_month_+_CO_year,CO_month_+_CO_season,CO_month_+_CO_weather,CO_month_+_CO_humidityQ,CO_month_+_CO_tempQ,CO_month_+_CO_atempQ,CO_month_+_CO_windspeedQ,...,CO_holiday_+_CN_school,CO_holiday_+_CN_soleilQ,CO_holiday_+_CN_tendance_1Q,CO_holiday_+_CN_tendance_2Q,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_soleilQ_+_CN_tendance_1Q,CN_soleilQ_+_CN_tendance_2Q,CN_tendance_1Q_+_CN_tendance_2Q
0,January_0,January_0,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
1,January_0,January_1,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
2,January_0,January_2,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
3,January_0,January_3,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(62,77]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
4,January_0,January_4,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(62,77]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"

In [117]:
list(df_with_interaction)

['CO_month_+_CO_workingday',
 'CO_month_+_CO_hour',
 'CO_month_+_CO_day',
 'CO_month_+_CO_year',
 'CO_month_+_CO_season',
 'CO_month_+_CO_weather',
 'CO_month_+_CO_humidityQ',
 'CO_month_+_CO_tempQ',
 'CO_month_+_CO_atempQ',
 'CO_month_+_CO_windspeedQ',
 'CO_month_+_CO_holiday',
 'CO_month_+_CN_school',
 'CO_month_+_CN_soleilQ',
 'CO_month_+_CN_tendance_1Q',
 'CO_month_+_CN_tendance_2Q',
 'CO_workingday_+_CO_hour',
 'CO_workingday_+_CO_day',
 'CO_workingday_+_CO_year',
 'CO_workingday_+_CO_season',
 'CO_workingday_+_CO_weather',
 'CO_workingday_+_CO_humidityQ',
 'CO_workingday_+_CO_tempQ',
 'CO_workingday_+_CO_atempQ',
 'CO_workingday_+_CO_windspeedQ',
 'CO_workingday_+_CO_holiday',
 'CO_workingday_+_CN_school',
 'CO_workingday_+_CN_soleilQ',
 'CO_workingday_+_CN_tendance_1Q',
 'CO_workingday_+_CN_tendance_2Q',
 'CO_hour_+_CO_day',
 'CO_hour_+_CO_year',
 'CO_hour_+_CO_season',
 'CO_hour_+_CO_weather',
 'CO_hour_+_CO_humidityQ',
 'CO_hour_+_CO_tempQ',
 'CO_hour_+_CO_atempQ',
 'CO_hour_+_CO_windspeedQ',
 'CO_hour_+_CO_holiday',
 'CO_hour_+_CN_school',
 'CO_hour_+_CN_soleilQ',
 'CO_hour_+_CN_tendance_1Q',
 'CO_hour_+_CN_tendance_2Q',
 'CO_day_+_CO_year',
 'CO_day_+_CO_season',
 'CO_day_+_CO_weather',
 'CO_day_+_CO_humidityQ',
 'CO_day_+_CO_tempQ',
 'CO_day_+_CO_atempQ',
 'CO_day_+_CO_windspeedQ',
 'CO_day_+_CO_holiday',
 'CO_day_+_CN_school',
 'CO_day_+_CN_soleilQ',
 'CO_day_+_CN_tendance_1Q',
 'CO_day_+_CN_tendance_2Q',
 'CO_year_+_CO_season',
 'CO_year_+_CO_weather',
 'CO_year_+_CO_humidityQ',
 'CO_year_+_CO_tempQ',
 'CO_year_+_CO_atempQ',
 'CO_year_+_CO_windspeedQ',
 'CO_year_+_CO_holiday',
 'CO_year_+_CN_school',
 'CO_year_+_CN_soleilQ',
 'CO_year_+_CN_tendance_1Q',
 'CO_year_+_CN_tendance_2Q',
 'CO_season_+_CO_weather',
 'CO_season_+_CO_humidityQ',
 'CO_season_+_CO_tempQ',
 'CO_season_+_CO_atempQ',
 'CO_season_+_CO_windspeedQ',
 'CO_season_+_CO_holiday',
 'CO_season_+_CN_school',
 'CO_season_+_CN_soleilQ',
 'CO_season_+_CN_tendance_1Q',
 'CO_season_+_CN_tendance_2Q',
 'CO_weather_+_CO_humidityQ',
 'CO_weather_+_CO_tempQ',
 'CO_weather_+_CO_atempQ',
 'CO_weather_+_CO_windspeedQ',
 'CO_weather_+_CO_holiday',
 'CO_weather_+_CN_school',
 'CO_weather_+_CN_soleilQ',
 'CO_weather_+_CN_tendance_1Q',
 'CO_weather_+_CN_tendance_2Q',
 'CO_humidityQ_+_CO_tempQ',
 'CO_humidityQ_+_CO_atempQ',
 'CO_humidityQ_+_CO_windspeedQ',
 'CO_humidityQ_+_CO_holiday',
 'CO_humidityQ_+_CN_school',
 'CO_humidityQ_+_CN_soleilQ',
 'CO_humidityQ_+_CN_tendance_1Q',
 'CO_humidityQ_+_CN_tendance_2Q',
 'CO_tempQ_+_CO_atempQ',
 'CO_tempQ_+_CO_windspeedQ',
 'CO_tempQ_+_CO_holiday',
 'CO_tempQ_+_CN_school',
 'CO_tempQ_+_CN_soleilQ',
 'CO_tempQ_+_CN_tendance_1Q',
 'CO_tempQ_+_CN_tendance_2Q',
 'CO_atempQ_+_CO_windspeedQ',
 'CO_atempQ_+_CO_holiday',
 'CO_atempQ_+_CN_school',
 'CO_atempQ_+_CN_soleilQ',
 'CO_atempQ_+_CN_tendance_1Q',
 'CO_atempQ_+_CN_tendance_2Q',
 'CO_windspeedQ_+_CO_holiday',
 'CO_windspeedQ_+_CN_school',
 'CO_windspeedQ_+_CN_soleilQ',
 'CO_windspeedQ_+_CN_tendance_1Q',
 'CO_windspeedQ_+_CN_tendance_2Q',
 'CO_holiday_+_CN_school',
 'CO_holiday_+_CN_soleilQ',
 'CO_holiday_+_CN_tendance_1Q',
 'CO_holiday_+_CN_tendance_2Q',
 'CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_soleilQ_+_CN_tendance_1Q',
 'CN_soleilQ_+_CN_tendance_2Q',
 'CN_tendance_1Q_+_CN_tendance_2Q']

In [118]:
# len(all_origin_var_and_new)

In [119]:
# len(list(df_with_interaction))
list(df_with_interaction)[0:5]

['CO_month_+_CO_workingday',
 'CO_month_+_CO_hour',
 'CO_month_+_CO_day',
 'CO_month_+_CO_year',
 'CO_month_+_CO_season']

In [120]:
df_with_interaction[["CO_month_+_CO_season"]].head()

  CO_month_+_CO_season
0    January_Printemps
1    January_Printemps
2    January_Printemps
3    January_Printemps
4    January_Printemps

In [121]:
# all_categorical_new = all_categorical + list(df_with_interaction)

In [122]:
df_with_interaction.shape

(10886, 120)

In [123]:
df_all_categorical.shape

(10886, 136)

In [127]:
df[all_categorical].shape

(10886, 16)

In [53]:
# A RELANCER AU CAS OU
df_all_categorical = df[all_categorical].applymap(str)
df_with_interaction = df_with_interaction.applymap(str)

In [54]:
df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)

In [55]:
df_before_dummies.shape

(17379, 136)

In [56]:
df_before_dummies.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_hour,CO_humidityQ,CO_month,...,CO_tempQ_+_CO_weather,CO_tempQ_+_CO_windspeedQ,CO_tempQ_+_CO_workingday,CO_tempQ_+_CO_year,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_year
0,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,0,"(77,100]",January,...,"[0.82,13.9]_Beau temps","[0.82,13.9]_[0,7]","[0.82,13.9]_0","[0.82,13.9]_2011","Beau temps_[0,7]",Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_2011",0_2011
1,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,1,"(77,100]",January,...,"[0.82,13.9]_Beau temps","[0.82,13.9]_[0,7]","[0.82,13.9]_0","[0.82,13.9]_2011","Beau temps_[0,7]",Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_2011",0_2011
2,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,2,"(77,100]",January,...,"[0.82,13.9]_Beau temps","[0.82,13.9]_[0,7]","[0.82,13.9]_0","[0.82,13.9]_2011","Beau temps_[0,7]",Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_2011",0_2011
3,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,3,"(62,77]",January,...,"[0.82,13.9]_Beau temps","[0.82,13.9]_[0,7]","[0.82,13.9]_0","[0.82,13.9]_2011","Beau temps_[0,7]",Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_2011",0_2011
4,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,4,"(62,77]",January,...,"[0.82,13.9]_Beau temps","[0.82,13.9]_[0,7]","[0.82,13.9]_0","[0.82,13.9]_2011","Beau temps_[0,7]",Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_2011",0_2011

In [57]:
# Transformation de toutes les variables catégorielles:
df_all_dummies = pd.get_dummies(df_before_dummies)

In [132]:
# len(list(df_all_dummies))
# "CO_holiday_+_CN_soleilQ" in list(df_all_dummies)
# "CO_day" in list(df_all_dummies)(7620, 4054)

In [133]:
# df + df_all_interactions + df_all_dummies
df_all_dummies.head()

,CO_month_April,CO_month_August,CO_month_December,CO_month_February,CO_month_January,CO_month_July,CO_month_June,CO_month_March,CO_month_May,CO_month_November,...,"CN_tendance_1Q_+_CN_tendance_2Q_(1.49,1.56]_(582,650]","CN_tendance_1Q_+_CN_tendance_2Q_(1.56,1.69]_(582,650]","CN_tendance_1Q_+_CN_tendance_2Q_(1.56,1.69]_(650,718]","CN_tendance_1Q_+_CN_tendance_2Q_(1.69,2.31]_(365,433]","CN_tendance_1Q_+_CN_tendance_2Q_(1.69,2.31]_(433,501]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(285,365]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(365,433]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(433,501]","CN_tendance_1Q_+_CN_tendance_2Q_[0.409,0.432]_(67,136]","CN_tendance_1Q_+_CN_tendance_2Q_[0.409,0.432]_[0,67]"
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [134]:
len(list(df_all_dummies))

3905

In [135]:
import random
random.choices(list(df_all_dummies), k=10)

['CO_season_+_CO_tempQ_Hiver_(26.2,41]',
 'CO_hour_+_CN_tendance_1Q_14_(1.56,1.69]',
 'CO_windspeedQ_+_CN_tendance_1Q_(13,17]_(0.593,0.64]',
 'CO_hour_+_CN_tendance_1Q_2_(2.31,2.45]',
 'CO_day_+_CO_season_Saturday_Printemps',
 'CO_tempQ_+_CN_tendance_1Q_[0.82,13.9]_(0.64,0.672]',
 'CO_hour_16',
 'CO_month_+_CO_hour_May_1',
 'CO_workingday_+_CO_season_1_Hiver',
 'CO_hour_+_CO_season_14_Été']

In [136]:
# len(list(all_var_for_models_nodup)

In [137]:
all_categorical

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [138]:
all_var_for_models = []
all_var_for_models.append("datetime")
for each in all_origin_var_and_new:
    all_var_for_models.append(each) 
# for each in all_categorical:
    # all_var_for_models.append(each) 
for each in list(df_all_dummies):
    all_var_for_models.append(each)

all_var_for_models_nodup = []
for each in all_var_for_models:
    if each not in all_var_for_models_nodup:
        all_var_for_models_nodup.append(each)

In [140]:
len(list(all_var_for_models_nodup))

3929

On ajoute les dataframes : df + df_with_interaction + df_all_dummies

In [141]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [92]:
len(list(df_all_dummies))

3905

On distingue les données de "train" + "test" pour réaliser les modèles<br>
versus les données de "test" de Kaggle

In [96]:
all_df = pd.concat([df[['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2']], df_all_dummies], axis = 1)

In [75]:
# test = all_df.head(n=25)
# test["day"] = pd.to_datetime(test["datetime"]).dt.day
# test[["datetime","day"]]

In [97]:
all_df.shape

(17379, 6430)

In [98]:
all_df["day"] = pd.to_datetime(all_df["datetime"]).dt.day

In [99]:
df_for_models = all_df[all_df["day"] < 20 ]
df_test_kaggle = all_df[all_df["day"] >= 20]

In [101]:
df_for_models.shape

(10886, 6431)

In [102]:
df_test_kaggle.shape

(6493, 6431)

In [103]:
list_var_clean_X = [var for var in list(df_for_models) if var != "count" and var != "datetime"]                                         
clean_X = df_for_models[list_var_clean_X]

In [104]:
df_for_models.shape

(10886, 6431)

In [90]:
df_test_kaggle.shape

(6493, 30)

In [105]:
clean_Y = df_train_kaggle[["count"]]
X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [93]:
# Données pour apprentissage des modèles
X_train.to_pickle("X_train_n.pkl")
X_test.to_pickle("X_test_n.pkl")
Y_train.to_pickle("Y_train_n.pkl")
Y_test.to_pickle("Y_test_n.pkl")

In [107]:
# Données de test de Kaggle contest
df_test_kaggle.to_pickle("X_test_kaggle.pkl")

In [106]:
df_test_kaggle.shape

(6493, 6431)

On peut faire les interactions d'ordre 2 avec "Patsylearn" (différent de "Patsy") 
C'est un package Github

In [426]:
# from patsylearn import PatsyTransformer
# from patsylearn import PatsyModel
# transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")