### L'objet du Notebook est d'utiliser en entrée les données provenant de RStudio

En vue de faire de la cross validation et modéliser, création de 2 dataframes
    - un contenant les variables "Origin" et "New" 
    - un autre contenant les variables "Origin" et "New" 
    + interactions d'ordre 2 pour les variables catégorielles + dummy variables
    

Les .csv qu'on utilise, ont été créés grâce au programme "maestro.R" dans "/proj/bikesharing/p02_features"

In [179]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

# On charge les .csv générés grâce à "maestro.R"  dans RStudio 
df_train_kaggle = pd.read_csv("../data/train.csv")
df_test_kaggle = pd.read_csv("../data/test.csv")

# Le dataset de "test" de Kaggle ne contient pas la variable "count"
# On supprime donc la colonne "count" pour le dataset "train"
df_train_kaggle = df_train_kaggle.drop("count", axis = 1)

# Et on concatène les données 
df = pd.concat([df_train_kaggle,df_test_kaggle])

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

In [180]:
list(df)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_hour',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_year',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime']

### On veut toutes les colonnes contenant les variables "Origin" et "New"
On garde donc toutes les colonnes

In [181]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
# all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO'] 
# all_categorical_o
# all_numeric_o
# df[all_categorical_o].dtypes
# df_all_categorical_o = df[all_categorical_o].applymap(str)

ATTENTION: les variables "CO_hour" et "CO_year" sont apparemment<br>
considérées comme numérique, cf le ".describe()" ci-dessous<br>
On va donc les transformer grâce à str() pour qu'elles soient de type caractères

In [182]:
df[all_categorical_o].describe()

         CO_holiday       CO_hour  CO_workingday       CO_year
count  17379.000000  17379.000000   17379.000000  17379.000000
mean       0.031475     11.546752       0.682721   2011.502561
std        0.174602      6.914405       0.465431      0.500008
min        0.000000      0.000000       0.000000   2011.000000
25%        0.000000      6.000000       0.000000   2011.000000
50%        0.000000     12.000000       1.000000   2012.000000
75%        0.000000     18.000000       1.000000   2012.000000
max        1.000000     23.000000       1.000000   2012.000000

In [183]:
df['CO_hour_new'] = df['CO_hour'].map(lambda x: str(x))
df = df.drop('CO_hour', axis=1)
df = df.rename(columns={'CO_hour_new': 'CO_hour'})

df['CO_year_new'] = df['CO_year'].map(lambda x: str(x))
df = df.drop('CO_year', axis=1)
df = df.rename(columns={'CO_year_new': 'CO_year'})

In [184]:
df[all_categorical_o].describe()

         CO_holiday  CO_workingday
count  17379.000000   17379.000000
mean       0.031475       0.682721
std        0.174602       0.465431
min        0.000000       0.000000
25%        0.000000       0.000000
50%        0.000000       1.000000
75%        0.000000       1.000000
max        1.000000       1.000000

In [185]:
# Transformation de toutes les variables catégorielles:
# df_all_dummies_o = pd.get_dummies(df[all_categorical_o])eg_lambda=1
# df_all_dummies_o.shape
# list(df_all_dummies_o)

In [186]:
df.shape

(17379, 30)

In [187]:
df["day"] = pd.to_datetime(df["datetime"]).dt.day

df_for_models = df[df["day"] < 20 ]
df_test_kaggle_o_n = df[df["day"] >= 20]

In [188]:
# df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
# df_for_models = pd.concat([df_for_models[["datetime"]], df_for_models[all_numeric_o],df_for_models[all_categorical_o]], axis = 1)

In [189]:
df_for_models.shape

(10886, 31)

In [190]:
# list_var_clean_X = [var for var in list(df_for_models) if var != "count" and var != "datetime"]
# clean_X = df_for_models[list_var_clean_X]
# clean_Y = df_for_models[["count"]]

# Soit on fait de la cross validation et utilise tout "df_for_models"
df_for_cv_o_n = df_for_models

del df_for_models

# Soit on splitte "df_for_models" en train + validation
# X_train, X_valid, Y_train, Y_valid = train_test_split(clean_X,
                                                      # clean_Y,
                                                      # test_size = 0.3,
                                                      # random_state = 0)

In [191]:
list(df_for_cv_o_n)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'day']

In [192]:
# On n'a pas besoin de la variable "day"
df_for_cv_o_n = df_for_cv_o_n.drop("day", axis = 1)
df_test_kaggle_o_n = df_test_kaggle_o_n.drop("day", axis = 1)

In [193]:
df_for_cv_o_n.shape

(10886, 30)

In [194]:
df_test_kaggle_o_n.shape

(6493, 30)

In [195]:
# Données en vue de faire de la cross validation
df_for_cv_o_n.to_pickle("df_for_cv_o_n.pkl")
# Données de test de Kaggle 
df_test_kaggle_o_n.to_pickle("df_test_kaggle_o_n.pkl")

In [196]:
# X_train.to_pickle("X_train_o.pkl")
# X_test.to_pickle("X_test_o.pkl")
# Y_train.to_pickle("Y_train_o.pkl")
# Y_test.to_pickle("Y_test_o.pkl")

#### Création d'un dataset avec les variables Origin et New et interactions entre catégorielles d'ordre 2<br>

On pourra aussi ajouter les interactions entre variables numériques

On prend toutes les variables "CO", "NO", "NN" et "CN"

On a déjà "df_for_models"

In [197]:
all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']

In [198]:
len(all_categorical)

16

In [199]:
df[all_categorical].dtypes

CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
CO_atempQ         object
CO_day            object
CO_holiday         int64
CO_humidityQ      object
CO_month          object
CO_season         object
CO_tempQ          object
CO_weather        object
CO_windspeedQ     object
CO_workingday      int64
CO_hour           object
CO_year           object
dtype: object

In [200]:
df_all_categorical = df[all_categorical].applymap(str)

In [201]:
df_all_categorical.shape

(17379, 16)

Ajout des interactions d'ordre 2 entre variables catégorielles

In [202]:
# On peut faire les interactions d'ordre 2 avec "Patsylearn" (différent de "Patsy") 
# C'est un package Github
# from patsylearn import PatsyTransformer
# from patsylearn import PatsyModel
# transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")

In [203]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var
    print (list(df))

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    # print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [204]:
df.shape

(17379, 31)

In [205]:
df_with_interaction = interaction_order(df_all_categorical,all_categorical, 2)

['CN_school', 'CN_soleilQ', 'CN_tendance_1Q', 'CN_tendance_2Q', 'CO_atempQ', 'CO_day', 'CO_holiday', 'CO_humidityQ', 'CO_month', 'CO_season', 'CO_tempQ', 'CO_weather', 'CO_windspeedQ', 'CO_workingday', 'CO_hour', 'CO_year']

In [206]:
len(list(df_with_interaction))

120

In [207]:
df_with_interaction.head()

,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_school_+_CO_atempQ,CN_school_+_CO_day,CN_school_+_CO_holiday,CN_school_+_CO_humidityQ,CN_school_+_CO_month,CN_school_+_CO_season,CN_school_+_CO_tempQ,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [208]:
list(df_with_interaction)[0:5]

['CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_school_+_CO_atempQ',
 'CN_school_+_CO_day']

In [209]:
df_with_interaction[["CO_month_+_CO_season"]].head()

  CO_month_+_CO_season
0    January_Printemps
1    January_Printemps
2    January_Printemps
3    January_Printemps
4    January_Printemps

In [210]:
df_with_interaction.shape

(17379, 120)

In [211]:
df_all_categorical = df[all_categorical].applymap(str)
df_with_interaction = df_with_interaction.applymap(str)

In [212]:
list(df_all_categorical)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_hour',
 'CO_year']

In [213]:
df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)

In [214]:
df_before_dummies.shape

(17379, 136)

In [215]:
df_before_dummies.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [216]:
# Transformation de toutes les variables catégorielles:
df_all_dummies = pd.get_dummies(df_before_dummies)

In [217]:
df_all_dummies.shape

(17379, 6422)

In [218]:
# import random
# random.choices(list(df_all_dummies), k=10)

In [219]:
all_categorical

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_hour',
 'CO_year']

In [220]:
list(df)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'day']

In [221]:
df_all_dummies.shape

(17379, 6422)

Rassemblement de toutes les variables : les numériques et toutes les dummy variables

In [222]:
# nodup = []
# for each in ['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2'] + list(df_all_dummies):
   # if each not in nodup:
       # nodup.append(each)
# nodup == ['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2'] + list(df_all_dummies)
# True

In [223]:
all_df = pd.concat([df[['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2']], df_all_dummies], axis = 1)

In [224]:
all_df.shape

(17379, 6430)

On distingue les données de "train" + "test" pour réaliser les modèles<br>
versus les données de "test" de Kaggle

In [225]:
all_df["day"] = pd.to_datetime(all_df["datetime"]).dt.day

In [226]:
df_for_models = all_df[all_df["day"] < 20 ]
df_test_kaggle_interaction_and_dummies = all_df[all_df["day"] >= 20]

In [227]:
df_for_models.shape

(10886, 6431)

In [228]:
df_for_cv_interaction_and_dummies = df_for_models
del df_for_models
df_for_cv_interaction_and_dummies = df_for_cv_interaction_and_dummies.drop("day", axis = 1)
df_test_kaggle_interaction_and_dummies = df_test_kaggle_interaction_and_dummies.drop("day", axis = 1)

In [229]:
df_for_cv_interaction_and_dummies.shape

(10886, 6430)

In [230]:
df_test_kaggle_interaction_and_dummies.shape

(6493, 6430)

In [232]:
# list(df_for_cv_interaction_and_dummies) == list(df_test_kaggle_interaction_and_dummies)

True

In [231]:
# Données en vue de faire de la cross validation
df_for_cv_interaction_and_dummies.to_pickle("df_for_cv_interaction_and_dummies.pkl")
# Données de test de Kaggle 
df_test_kaggle_interaction_and_dummies.to_pickle("df_test_kaggle_interaction_and_dummies.pkl")

In [93]:
# Données pour apprentissage des modèles
# X_train.to_pickle("X_train_n.pkl")
# X_test.to_pickle("X_test_n.pkl")
# Y_train.to_pickle("Y_train_n.pkl")
# Y_test.to_pickle("Y_test_n.pkl")