In [477]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error
# from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import matplotlib.pyplot as plt

from scipy.stats import uniform, randint
from sklearn.metrics import make_scorer

In [478]:
df_for_cv_interaction_and_dummies = pd.read_pickle("../data/df_for_cv_interaction_and_dummies.pkl")
all_var_x = [each for each in list(df_for_cv_interaction_and_dummies) if each != "count" and each != "datetime"]
X_train = df_for_cv_interaction_and_dummies[all_var_x]
Y_train = df_for_cv_interaction_and_dummies[["count"]]

In [479]:
# Calcul des Y = log(Y + 1)
Y_train['log_count'] = Y_train['count'].map(lambda x: np.log1p(x))
Y_train = Y_train.drop("count", axis = 1)

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
# Hyperparamètre de régularisation
# On fait un "random avec : alpha = 0.01 to 100

In [462]:
def MSE(a,b):
    resultat = np.mean((a - b)**2)
    #resultat = mean_squared_error(a,b)
    return resultat

mse = make_scorer(MSE, greater_is_better=False)

lasso_model = Lasso()

params = {"alpha": randint(0, 100)}

In [463]:
import inspect
lines = inspect.getsource(mean_squared_error)
print(lines)

def mean_squared_error(y_true, y_pred,
                       sample_weight=None,
                       multioutput='uniform_average'):
    """Mean squared error regression loss

    Read more in the :ref:`User Guide <mean_squared_error>`.

    Parameters
    ----------
    y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
        Ground truth (correct) target values.

    y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
        Estimated target values.

    sample_weight : array-like of shape = (n_samples), optional
        Sample weights.

    multioutput : string in ['raw_values', 'uniform_average']
        or array-like of shape (n_outputs)
        Defines aggregating of multiple output values.
        Array-like value defines weights used to average errors.

        'raw_values' :
            Returns a full set of errors in case of multioutput input.

        'uniform_average' :
            Errors of all outputs are averaged with uniform weight.

    Returns
    -------
    loss : float or ndarray of floats
        A non-negative floating point value (the best value is 0.0), or an
        array of floating point values, one for each individual target.

    Examples
    --------
    >>> from sklearn.metrics import mean_squared_error
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred)
    0.375
    >>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
    >>> y_pred = [[0, 2],[-1, 2],[8, -5]]
    >>> mean_squared_error(y_true, y_pred)  # doctest: +ELLIPSIS
    0.708...
    >>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
    ... # doctest: +ELLIPSIS
    array([0.41666667, 1.        ])
    >>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
    ... # doctest: +ELLIPSIS
    0.825...

    """
    y_type, y_true, y_pred, multioutput = _check_reg_targets(
        y_true, y_pred, multioutput)
    check_consistent_length(y_true, y_pred, sample_weight)
    output_errors = np.average((y_true - y_pred) ** 2, axis=0,
                               weights=sample_weight)
    if isinstance(multioutput, str):
        if multioutput == 'raw_values':
            return output_errors
        elif multioutput == 'uniform_average':
            # pass None as weights to np.average: uniform mean
            multioutput = None

    return np.average(output_errors, weights=multioutput)

In [464]:
a = np.array([2,3])
b = np.array([4,5])

In [465]:
a = np.expand_dims(a,1)
b = np.expand_dims(b,1)

In [466]:
a.shape[0]

2

In [467]:
search_custom = RandomizedSearchCV(lasso_model,
                            scoring = mse,
                            param_distributions=params,
                            random_state=42,
                            n_iter=1,
                            cv=2)

In [468]:
search_official = RandomizedSearchCV(lasso_model,
                            scoring="neg_mean_squared_error",
                            param_distributions=params,
                            random_state=42,
                            n_iter=1,
                            cv=2)

In [469]:
firstrow = 3
search_custom.fit(X_train, Y_train.values)
search_official.fit(X_train, Y_train.values)

RandomizedSearchCV(cv=2, error_score='raise-deprecating',
                   estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=1000, normalize=False,
                                   positive=False, precompute=False,
                                   random_state=None, selection='cyclic',
                                   tol=0.0001, warm_start=False),
                   iid='warn', n_iter=1, n_jobs=None,
                   param_distributions={'alpha': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f379eecd5f8>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=0)

In [470]:
pd.DataFrame(search_custom.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,mean_test_score,std_test_score,rank_test_score
0,2.127274,0.241406,0.790233,0.003104,51,{'alpha': 51},-2.160419,-2.259159,-2.209789,0.04937,1

In [471]:
pd.DataFrame(search_official.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,mean_test_score,std_test_score,rank_test_score
0,1.849337,0.041364,0.354665,0.003485,51,{'alpha': 51},-2.160419,-2.259159,-2.209789,0.04937,1

In [472]:
12027.880051/X_train.shape[0]

1.1048943644130076

In [473]:
np.exp(np.sqrt(2.209789))-1

3.421751595037568

In [474]:
np.exp(np.sqrt(12027.880051)) - 1

4.263936278158026e+47

In [475]:
np.exp(100) - 1

2.6881171418161356e+43

In [476]:
Y_train[:3]

   log_count
0   2.833213
1   3.713572
2   3.496508

In [405]:
X_train.loc[2].value_counts()

 0.000000     6288
 1.000000      136
-71.066026       1
 0.418093        1
 9.020000        1
 13.635000       1
 80.000000       1
Name: 2, dtype: int64

In [316]:
Y_train.isnull().sum()

log_count    0
dtype: int64

In [333]:
from sklearn.metrics import mean_squared_error
y_true = np.array([[3],
                   [-0.5],
                   [0], 
                   [7]])
y_pred = np.array([[2.5], 
                   [0.0], 
                   [2], 
                   [8]])
mean_squared_error(y_true, y_pred)

1.375

In [334]:
def RMLSE(a,b):
    # resultat = np.mean((a - b)**2, axis=0)
    resultat = np.sum((a - b)**2)/(a.shape[0])

    return resultat

In [335]:
RMLSE(y_true,y_pred)

1.375

In [18]:
# %%time
# model = Lasso()
# parameters = {'alpha':[0.1,0.5,1,5]}
# grid = GridSearchCV(model,parameters, cv=5)
# grid.fit(X_train, Y_train)

1027.274558544159

In [26]:
pd.DataFrame(search.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,3.266942,0.399025,0.179292,0.007880,51,{'alpha': 51},-0.353322,-0.048172,-0.043802,-0.092302,...,-0.128257,0.114995,3,0.000000,0.060751,0.048074,0.023277,0.006526,0.027726,0.023421
1,3.623007,0.198858,0.223998,0.044502,92,{'alpha': 92},-0.353322,-0.008570,-0.041142,-0.126530,...,-0.131021,0.120464,4,0.000000,0.002555,0.000000,0.000000,0.000000,0.000511,0.001022
2,3.739464,0.412501,0.216594,0.051209,14,{'alpha': 14},0.243568,0.316976,0.359028,0.349316,...,0.327326,0.045276,1,0.367274,0.432860,0.414336,0.410845,0.404036,0.405870,0.021531
3,2.989652,0.082957,0.188252,0.006649,71,{'alpha': 71},-0.353322,-0.025187,-0.042293,-0.126530,...,-0.134574,0.117044,10,0.000000,0.036532,0.026125,0.000000,0.000000,0.012531,0.015697
4,3.016401,0.092772,0.190433,0.011403,60,{'alpha': 60},-0.353322,-0.036964,-0.043092,-0.108292,...,-0.133442,0.115353,7,0.000000,0.050835,0.039088,0.012848,0.000000,0.020554,0.020807
5,3.121423,0.097027,0.187988,0.015944,20,{'alpha': 20},0.074208,0.237991,0.269221,0.263453,...,0.225587,0.077105,2,0.281470,0.358413,0.335395,0.328099,0.326642,0.326004,0.025006
6,3.001210,0.078922,0.195664,0.012466,82,{'alpha': 82},-0.353322,-0.015522,-0.041571,-0.126530,...,-0.132497,0.119009,6,0.000000,0.019826,0.010986,0.000000,0.000000,0.006162,0.008049
7,2.946474,0.128316,0.185240,0.009578,86,{'alpha': 86},-0.353322,-0.012532,-0.041327,-0.126530,...,-0.131850,0.119638,5,0.000000,0.013156,0.004941,0.000000,0.000000,0.003619,0.005138
8,2.958719,0.129473,0.185191,0.005095,74,{'alpha': 74},-0.353322,-0.022341,-0.042089,-0.126530,...,-0.133964,0.117612,8,0.000000,0.032214,0.022212,0.000000,0.000000,0.010885,0.013702
9,3.161443,0.189297,0.188131,0.019013,74,{'alpha': 74},-0.353322,-0.022341,-0.042089,-0.126530,...,-0.133964,0.117612,8,0.000000,0.032214,0.022212,0.000000,0.000000,0.010885,0.013702

In [27]:
# C'est le RMLSE sur "train" de la cross validation
result_model = pd.DataFrame(search.cv_results_)
result_model[result_model["rank_test_score"] == 1][["mean_train_score"]]

   mean_train_score
2           0.40587

In [29]:
search.best_score_

0.3273255831633457

In [30]:
pd.DataFrame(grid_ridge.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,50.719912,3.121417,0.165485,0.030068,0.1,{'alpha': 0.1},-0.034452,-0.014439,-0.017033,-0.011893,-0.012700,-0.018105,0.008363,4
1,50.297228,1.488643,0.157237,0.011190,0.5,{'alpha': 0.5},-0.028627,-0.012281,-0.015171,-0.010058,-0.009637,-0.015156,0.007018,3
2,47.793118,0.527379,0.148534,0.007421,1,{'alpha': 1},-0.025730,-0.010999,-0.014187,-0.009480,-0.008395,-0.013759,0.006297,2
3,48.133455,0.410139,0.148430,0.004248,5,{'alpha': 5},-0.020167,-0.008149,-0.011630,-0.008803,-0.006242,-0.010999,0.004900,1

In [52]:
# Avec : parameters = {'alpha':[1, 5, 10, 15]}
pd.DataFrame(grid_ridge.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,54.198833,2.107559,0.167053,0.031623,1,{'alpha': 1},-0.645110,-0.432378,-0.481538,-0.431428,...,-0.481857,0.084420,4,-0.224860,-0.239940,-0.235906,-0.240907,-0.241911,-0.236705,0.006264
1,54.704508,2.829823,0.160618,0.020526,5,{'alpha': 5},-0.543580,-0.383305,-0.434257,-0.407561,...,-0.423166,0.066708,3,-0.229373,-0.244364,-0.240696,-0.245573,-0.246859,-0.241373,0.006343
2,57.379488,3.427663,0.163011,0.006985,10,{'alpha': 10},-0.516910,-0.366144,-0.416298,-0.402085,...,-0.406013,0.063261,2,-0.233900,-0.248817,-0.245492,-0.250243,-0.251559,-0.246002,0.006380
3,58.637168,4.031780,0.157926,0.002475,15,{'alpha': 15},-0.506536,-0.358829,-0.408961,-0.400449,...,-0.399773,0.061479,1,-0.238247,-0.253132,-0.249924,-0.254637,-0.255914,-0.250370,0.006383

In [54]:
pd.DataFrame(grid_ridge.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,104.071278,4.602311,0.199423,0.043426,15,{'alpha': 15},-0.506536,-0.358829,-0.408961,-0.400449,...,-0.399773,0.061479,2,-0.238247,-0.253132,-0.249924,-0.254637,-0.255914,-0.250370,0.006383
1,103.017336,4.135794,0.193576,0.009865,25,{'alpha': 25},-0.498350,-0.354368,-0.404909,-0.401642,...,-0.396964,0.058801,1,-0.246784,-0.261598,-0.258293,-0.263095,-0.264232,-0.258800,0.006331
2,109.901650,3.348438,0.180359,0.003729,50,{'alpha': 50},-0.495119,-0.360822,-0.411739,-0.413347,...,-0.404196,0.053710,3,-0.266877,-0.281327,-0.277213,-0.282553,-0.283415,-0.278277,0.006084
3,114.419825,4.654415,0.207904,0.053241,100,{'alpha': 100},-0.501128,-0.384872,-0.434737,-0.441195,...,-0.426063,0.046837,4,-0.300092,-0.313435,-0.307640,-0.314142,-0.314998,-0.310061,0.005615

On soumet le modèle avec alpha = 25 qui semble etre le meilleur modèle

In [60]:
# C'est le RMLSE sur "train" de la cross validation
result_model = pd.DataFrame(grid_ridge.cv_results_)
result_model[result_model["rank_test_score"] == 1][["mean_train_score"]]

   mean_train_score
1           -0.2588

In [61]:
# C'est le RMLSE sur "test" de la cross validation
grid_ridge.best_score_ 
# Avec la métrique interne à Scikit learn, on avait : -0.010999027326119631, soit ~ 0.011 pour alpha = 5
# Cette fois avec alpha = 25: -0.39696411418593996

-0.39696411418593996

In [66]:
df_to_predict = pd.read_pickle("../data/df_test_kaggle_interaction_and_dummies.pkl") 
df_to_predict.shape
df_to_predict.head()

df_temp = df_to_predict.drop("datetime", axis = 1)

df_to_predict["count"] = list((np.exp(grid_ridge.predict(df_temp)) - 1)[:,0])

In [68]:
df_to_predict[["count"]].head()

       count
0  10.987431
1   5.739557
2   3.279754
3   2.806729
4   3.335188

In [69]:
df_to_predict[["datetime", "count"]].to_csv("../data/submission_to_send/pred_linear_ridge_regression_correct_cv.csv", index= False)

In [ ]:
# ROOT MEAN SQUARED LOGARITHMIC ERROR : privilégier des prédictions au-dessous de la vérité

Linear regression + New : ON N'A PAS FAIT les features polynomiaux sur les var numériques