In [1]:
import pandas as pd
import numpy as np
from pysolar.solar import *
import datetime
import pickle

# Import du dataframe

In [2]:
df = pickle.load(open('df.pkl', 'rb'))

In [3]:
df.head()

,index,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,hour,day,year
0,0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,January,0,Saturday,2011
1,1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,January,1,Saturday,2011
2,2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,January,2,Saturday,2011
3,3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,January,3,Saturday,2011
4,4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,January,4,Saturday,2011

# Elevation du soleil

In [4]:
df["soleil"] = df.datetime.map(lambda a : get_altitude(38.89511, -77.03637,a.replace(tzinfo=datetime.timezone.utc) + datetime.timedelta(hours=4)))

In [5]:
df[["index","soleil"]].to_csv("soleil.csv",index = False)