#### L'objet du Notebook est d'utiliser en entrée les données provenant de RStudio

En vue de faire de la cross validation et modéliser, création de 3 dataframes<br>
    - un contenant les variables "Origin" et "New" <br>
    - un contenant les variables "Origin" et "New" avec transformation en numérique des variables catégorielles <br>
    - un autre contenant les variables "Origin" et "New" <br>
    + interactions d'ordre 2 pour les variables catégorielles + dummy variables <br>
    

Les .csv qu'on utilise, ont été créés grâce au programme "maestro.R" dans "/proj/bikesharing/p02_features"

In [275]:
import pandas as pd
import numpy as np
from itertools import chain

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

# On charge les .csv générés grâce à "maestro.R"  dans RStudio 
# df_train_kaggle_read = pd.read_csv("../data/train.csv")
df_train_kaggle = pd.read_csv("../data/train.csv")
# Le dataset "test" ne contient pas "count"
df_test_kaggle = pd.read_csv("../data/test.csv")

# Le dataset de "test" de Kaggle ne contient pas la variable "count"
# On supprime donc la colonne "count" pour le dataset "train"
# df_train_kaggle = df_train_kaggle_read.drop("count", axis = 1)
# df_train_kaggle_count = df_train_kaggle_read[["count"]]


# Création de la colonne "count" avec la valeur 0 dans "df_test_kaggle"
# NB) Cette colonne sera alimentée avec une prédiction
# au moment de la soumission
df_test_kaggle["count"] = 0

# Et on concatène les données 
df_all = pd.concat([df_train_kaggle,df_test_kaggle])

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

### On regarde quelles sont les variables catégorielles

In [276]:
all_categorical_o = [name_var for name_var in list(df_all) if name_var[0:2] == 'CO']

ATTENTION: les variables "CO_hour" et "CO_year" sont apparemment<br>
considérées comme numérique, cf le ".describe()" ci-dessous<br>
On va donc les transformer grâce à str() pour qu'elles soient de type caractères

In [277]:
df_all[all_categorical_o].describe()

         CO_holiday       CO_hour  CO_workingday       CO_year
count  17379.000000  17379.000000   17379.000000  17379.000000
mean       0.031475     11.546752       0.682721   2011.502561
std        0.174602      6.914405       0.465431      0.500008
min        0.000000      0.000000       0.000000   2011.000000
25%        0.000000      6.000000       0.000000   2011.000000
50%        0.000000     12.000000       1.000000   2012.000000
75%        0.000000     18.000000       1.000000   2012.000000
max        1.000000     23.000000       1.000000   2012.000000

In [278]:
list(df_all)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_hour',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_year',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'count',
 'datetime']

In [279]:
df_all['CO_hour_new'] = df_all['CO_hour'].map(lambda x: str(x))
df_all = df_all.drop('CO_hour', axis=1)
df_all = df_all.rename(columns={'CO_hour_new': 'CO_hour'})

df_all['CO_year_new'] = df_all['CO_year'].map(lambda x: str(x))
df_all = df_all.drop('CO_year', axis=1)
df_all = df_all.rename(columns={'CO_year_new': 'CO_year'})

In [280]:
df_all[all_categorical_o].describe()

         CO_holiday  CO_workingday
count  17379.000000   17379.000000
mean       0.031475       0.682721
std        0.174602       0.465431
min        0.000000       0.000000
25%        0.000000       0.000000
50%        0.000000       1.000000
75%        0.000000       1.000000
max        1.000000       1.000000

In [281]:
df_all.shape

(17379, 31)

In [282]:
# On n'a pas besoin de la variable "day"
# df_train_for_cv_o_n = df_train_for_cv_o_n.drop("day", axis = 1)
# df_test_kaggle_cv_o_n = df_test_kaggle_cv_o_n.drop("day", axis = 1)

# On a besoin de la target pour créer les modèles !
# df_train_for_cv_o_n = pd.concat([df_train_for_cv_o_n, df_train_kaggle_count], axis = 1)

In [283]:
list(df_all)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'count',
 'datetime',
 'CO_hour',
 'CO_year']

### II On ajoute toutes les nouvelles features à "df_all"

#### Les variables à transformer sont celles en type "object" ie les variables catégorielles

In [284]:
df_all.shape

(17379, 31)

In [285]:
# df_all['CO_day'].unique()
# df_all['CO_month'].unique()

Rappels des variables présentes:
- 'CN_soleilQ'
- 'CN_tendance_1Q'
- 'CN_tendance_2Q'
- 'CO_atempQ'
- 'CO_day'
- 'CO_humidityQ'
- 'CO_month'
- 'CO_season'
- 'CO_tempQ'
- 'CO_weather'
- 'CO_windspeedQ'
- 'S_casualQ'
- 'S_rateregisQ'
- 'CO_hour'
- 'CO_year'

##### Nouvelles variables avec suffixes:
"_labels_encoded" pour : CO_day, CO_month, CO_season, CO_weather, CO_hour et CO_year

In [286]:
def labels_encoding(df):
    
    le_CO_day = LabelEncoder()
    le_CO_month = LabelEncoder()
    le_CO_season = LabelEncoder()
    le_CO_weather = LabelEncoder()
    le_CO_hour = LabelEncoder()
    le_CO_year = LabelEncoder()

    le_CO_day.fit(list(df.CO_day))
    le_CO_month.fit(list(df.CO_month))
    le_CO_season.fit(list(df.CO_season))
    le_CO_weather.fit(list(df.CO_weather))
    le_CO_hour.fit(list(df.CO_hour))
    le_CO_year.fit(list(df.CO_year))

    ## le_CO_month.classes_
    df["CO_day_labels_encoding"] = list(le_CO_day.transform(list(df.CO_day)))
    df["CO_month_labels_encoding"] = list(le_CO_month.transform(list(df.CO_month)))
    df["CO_season_labels_encoding"] = list(le_CO_season.transform(list(df.CO_season)))
    df["CO_weather_labels_encoding"] = list(le_CO_weather.transform(list(df.CO_weather)))
    df["CO_hour_labels_encoding"] = list(le_CO_hour.transform(list(df.CO_hour)))
    df["CO_year_labels_encoding"] = list(le_CO_year.transform(list(df.CO_year)))
    
    resultat = df
    return resultat

In [209]:
# var_name = "CO_hour"
# exec("le_" + var_name + " = LabelEncoder()")

In [210]:
# Fonction qui ne marche pas; utiliser un dico 


# liste_feat_for_label_encodings = ["CO_day","CO_month","CO_season","CO_weather","CO_hour","CO_year"]
def labels_encoding(df,liste_feat):
    dict_df = {}
    dict_df["df_all"] = df_all
    for var_name in liste_feat:
        
        print (var_name)
        exec("le_" + var_name + " = LabelEncoder()")
        
        #print ("le_" + var_name + ".fit(list(" + df + "." + var_name + "))")
        exec("le_" + var_name + ".fit(list(") + dict_df["df_all"] + exec("." + var_name + "))")
        # print ("le_" + var_name + ".classes_")
        # df[var_name] = "toto"
        
        # exec(df[var_name + "_labels_encoding] = list(le_" + var_name + ".transform(list(" + df + "." + var_name  + ")))")
        new_var_name = var_name + "_labels_encoding"
        df[new_var_name] = exec("list(le_" + var_name + ".transform(list(" + df + "." + var_name  + ")))")
    resultat = df
    return resultat

In [287]:
# df_train_for_cv_o_n = labels_encoding(df_train_for_cv_o_n)
# df_test_kaggle_cv_o_n = labels_encoding(df_test_kaggle_cv_o_n)
# df_train_for_cv_o_n = labels_encoding(df_train_for_cv_o_n, liste_feat_for_label_encodings)
# df_test_kaggle_cv_o_n = labels_encoding(df_test_kaggle_cv_o_n, liste_feat_for_label_encodings)

# NE MARCHE PAS
# df_all = labels_encoding(df_all, liste_feat_for_label_encodings)

df_all = labels_encoding(df_all)

In [288]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_all) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

liste_of_new_var = list(chain(*init))
liste_of_new_var

['CO_day',
 'CO_hour',
 'CO_month',
 'CO_season',
 'CO_weather',
 'CO_year',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding']

In [289]:
df_all[liste_of_new_var].sample(n=5)

,CO_day,CO_hour,CO_month,CO_season,CO_weather,CO_year,CO_day_labels_encoding,CO_month_labels_encoding,CO_season_labels_encoding,CO_weather_labels_encoding,CO_hour_labels_encoding,CO_year_labels_encoding
579,Friday,1,March,Été,Beau temps,2011,0,7,3,0,1,0
749,Monday,14,February,Printemps,Beau temps,2011,1,3,2,0,6,0
1372,Sunday,1,April,Été,Beau temps,2011,3,0,3,0,1,0
4309,Tuesday,14,October,Hiver,Pluvieux (-),2011,5,10,1,3,6,0
2384,Tuesday,6,June,Été,Beau temps,2011,5,6,3,0,20,0

Idée: transformer CO_hour en ordinale + mesurer la corrélation<br> 
entre la variable ordinale obtenue et "count"<br>
Faire de meme avec : la variable moyenne de "count" par modalité de CO_hour<br>
avec "count"<br>
On met alors en évidence que la nouvelle variable est plus corrélée à "count"

In [290]:
### group by suivant CO_hour + mean(['count'])
# df_train_for_cv_o_n[['CO_hour','count']]
# df_train_for_cv_o_n[['CO_hour','count']].groupby(['CO_hour']).mean()

In [291]:
# Quelle est la moyenne de "count" pour chacun
# de ces bins de "hour" ?

Transformation en int de CO_hour

In [292]:
# df_train_for_cv_o_n["CO_hour_int"] = df_train_for_cv_o_n["CO_hour"].apply(int)
# df_test_kaggle_cv_o_n["CO_hour_int"] = df_test_kaggle_cv_o_n["CO_hour"].apply(int)
df_all["CO_hour_int"] = df_all["CO_hour"].apply(int)

Utiliser des decision trees via scikit<br>
pour trouver l'optimal binning ou optimal collapsing<br>

Avec Rpart, on trouve en faisant: count ~ hour<br>
BIN n°1: hour <= 7          modalité 0<br>
BIN n°2: hour >= 22         modalité 1<br>
BIN n°3: 10 =< hour <= 16   modalité 3<br>
BIN n°4: hour == 8          modalité 2<br>
BIN n°5: hour == 9          modalité 6<br>
BIN n°6 : 20 =< hour <= 21  modalité 4<br>
BIN n°7: hour == 17         modalité 5<br>
BIN n°8: 18 =< hour <= 19   modalité 7<br>

In [293]:
# On se base sur le graphe 2D obtenu avec Shiny
# en croisant CO_hour avec count

#if 0 <= int(x) < 8:
##resultat = 0
#elif int(x) >= 19:
##resultat = 1
#elif int(x) == 9:
##resultat = 2   
#elif 9 < int(x) <= 16:
##resultat = 3   
#elif int(x) == 8:
##resultat = 4
#elif 17 <= int(x) <= 18:a
##resultat = 5

def mean_encoding_hour(x):
# mettre les moyennes par bin pour voir
    if int(x) < 8:
        resultat = 0
    elif int(x) >= 22:
        resultat = 1
    elif 9 < int(x) < 17:
        resultat = 3    
    elif int(x) == 8:
        resultat = 2
    elif int(x) == 9:
        resultat = 6      
    elif 20 <= int(x) <= 21:
        resultat = 4 
    elif int(x) == 17:
        resultat = 5
    elif 18 <= int(x) or int(x) <= 19:
        resultat = 7
    
    return resultat

def mean_encoding_month(x):
    if x in ['January', 'February', 'March', 'April', 'May']:          
        resultat = 0
    elif x in ['November','December']:
        resultat = 1
    elif x in ['June', 'July','August', 'September', 'October']:
        resultat = 2    
    return resultat

def mean_encoding_day(x):
    if x == 'Sunday':          
        resultat = 0
    elif x in ['Monday', 'Tuesday', 'Wednesday']:
        resultat = 1
    elif x in ['Thursday','Friday','Saturday']:
        resultat = 2    
    return resultat

In [294]:
df_all.CO_day.unique()

array(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday'], dtype=object)

In [295]:
df_all["CO_hour_mean_encoding"] = df_all["CO_hour"].apply(mean_encoding_hour)
df_all["CO_month_mean_encoding"] = df_all["CO_month"].apply(mean_encoding_month)
df_all["CO_day_mean_encoding"] = df_all["CO_day"].apply(mean_encoding_day)

In [296]:
# Vérification de "mean encoding" : les nouvelles modalités sont elle correctement ordonnées ?
# df_all[["CO_hour_mean_encoding","count"]].groupby(["CO_hour_mean_encoding"]).mean()
# df_all[["CO_month_mean_encoding","count"]].groupby(["CO_month_mean_encoding"]).mean()
# df_all[["CO_day_mean_encoding","count"]].groupby(["CO_day_mean_encoding"]).mean()

In [297]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_all) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

new_var_mean_encoding = [each_name for each_name in list(df_all) if 'mean_encoding' in each_name]
init.append(new_var_mean_encoding)

liste_of_new_var = list(chain(*init))
liste_of_new_var

['CO_day',
 'CO_hour',
 'CO_month',
 'CO_season',
 'CO_weather',
 'CO_year',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding',
 'CO_hour_mean_encoding',
 'CO_month_mean_encoding',
 'CO_day_mean_encoding']

Création des nouvelles features ordinales

In [298]:
liste_feat_for_ordinal_encodings = ["CO_hour","CO_month","CO_day","CO_weather","CO_season","CO_year"]

# On crée un dictionnaire qui contient les correspondances ancienne valeur --> nouvelle valeur
def build_correspondance(df,list_variables):
    dict_all_corresp = {}
    for each in list_variables:
        # print (each)
        str_categories = list(df[each].unique())      
        # print (str_categories)
        idx = 0
        for each in str_categories:
            dict_all_corresp[each] = idx
            idx += 1
        
    return dict_all_corresp
my_dict_all_corresp = build_correspondance(df_all, liste_feat_for_ordinal_encodings)

In [299]:
def return_value(x):
    resultat = my_dict_all_corresp[x]
    return resultat

In [236]:
# NB) On pourra créer une fonction:
#def ordinal_encoding(df, liste_feat_for_ordinal_encodings):
    
    
    #return resultat

In [300]:
df_all["CO_hour_ordinal_encoding"] = df_all["CO_hour"].map(lambda x: return_value(x))
df_all["CO_month_ordinal_encoding"] = df_all["CO_month"].map(lambda x: return_value(x))
df_all["CO_day_ordinal_encoding"] = df_all["CO_day"].map(lambda x: return_value(x))
df_all["CO_weather_ordinal_encoding"] = df_all["CO_weather"].map(lambda x: return_value(x))
df_all["CO_season_ordinal_encoding"] = df_all["CO_season"].map(lambda x: return_value(x))
df_all["CO_year_ordinal_encoding"] = df_all["CO_year"].map(lambda x: return_value(x))

In [301]:
list(df_all)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'count',
 'datetime',
 'CO_hour',
 'CO_year',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding',
 'CO_hour_int',
 'CO_hour_mean_encoding',
 'CO_month_mean_encoding',
 'CO_day_mean_encoding',
 'CO_hour_ordinal_encoding',
 'CO_month_ordinal_encoding',
 'CO_day_ordinal_encoding',
 'CO_weather_ordinal_encoding',
 'CO_season_ordinal_encoding',
 'CO_year_ordinal_encoding']

In [239]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_all) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

new_var_mean_encoding = [each_name for each_name in list(df_all) if 'mean_encoding' in each_name]
init.append(new_var_mean_encoding)

new_var_ordinal_encoding = [each_name for each_name in list(df_all) if 'ordinal_encoding' in each_name]
init.append(new_var_ordinal_encoding)

liste_of_new_var = list(chain(*init))

In [302]:
df_all[liste_of_new_var].sample(n=5)

,CO_day,CO_hour,CO_month,CO_season,CO_weather,CO_year,CO_day_labels_encoding,CO_month_labels_encoding,CO_season_labels_encoding,CO_weather_labels_encoding,CO_hour_labels_encoding,CO_year_labels_encoding,CO_hour_mean_encoding,CO_month_mean_encoding,CO_day_mean_encoding
5128,Wednesday,18,December,Hiver,Pluvieux (-),2011,6,2,1,3,10,0,7,1,1
5465,Friday,13,September,Automne,Beau temps,2012,0,11,0,0,5,1,3,2,2
3229,Thursday,11,August,Automne,Nuageux,2011,4,1,0,1,3,0,3,2,2
4958,Tuesday,10,July,Automne,Beau temps,2012,5,5,0,0,2,1,3,2,1
3360,Wednesday,17,January,Printemps,Beau temps,2012,6,4,2,0,9,1,5,0,1

Nouvelle variable: type de jour<br>
Ou bien on est un jour travaillé<br>
ou un jour du week end<br> 
ou un jour férié<br>
Grâce aux variables :
- CO_workingday = jour de travail = 0/1
- CO_holiday = jour férié = 0/1

In [303]:
df_all[["datetime","CO_workingday","CO_holiday","CN_school"]].sample(n=20)

                 datetime  CO_workingday  CO_holiday  CN_school
6396  2012-03-03 18:00:00              0           0          0
2462  2011-06-10 12:00:00              1           0          0
235   2011-01-11 02:00:00              1           0          0
2737  2011-07-02 23:00:00              0           0          1
2780  2011-07-04 18:00:00              0           1          1
2565  2011-06-14 19:00:00              1           0          0
1664  2011-07-24 08:00:00              0           0          1
3828  2012-03-23 08:00:00              1           0          1
4960  2011-11-19 18:00:00              0           0          0
6478  2012-03-07 04:00:00              1           0          0
8462  2012-07-13 23:00:00              1           0          1
3996  2011-09-17 13:00:00              0           0          0
7180  2012-04-17 13:00:00              1           0          0
6305  2012-02-18 23:00:00              0           0          0
1880  2011-08-21 08:00:00              0           0          0
8634  2012-08-02 03:00:00              1           0          1
1498  2011-04-08 07:00:00              1           0          0
7375  2012-05-06 16:00:00              0           0          0
930   2011-03-03 05:00:00              1           0          0
5222  2012-08-23 10:00:00              1           0          1

On crée une seule variable "ordinale" grâce aux 2 variables : CO_workingday et CO_holiday

In [304]:
def type_of_day(df):
    # Jour de travail
    if df.CO_workingday == 1 and df.CO_holiday == 0:
        resultat = 0
    # Jour de week end
    elif df.CO_workingday == 0 and df.CO_holiday == 0:
        resultat = 1
    # Jour férié 
    else:
        resultat = 2
    return resultat
df_all["CN_type_of_day"] = df_all.apply(type_of_day, axis = 1)

In [305]:
def week_end(df):
    if df.CO_day != "Saturday" and df.CO_day != "Sunday":
        resultat = 0
    else:
        resultat = 1
    return resultat
df_all["CN_week_end"] = df_all.apply(week_end, axis = 1)

NOUVELLES VARIABLES bins de NN_soleil et NO_temp

In [306]:
def binned_soleil(x):
    if x < -22:
        resultat = 0
    elif x < -7.6 and x >= -22:
        resultat = 1
    else:
        resultat = 2
    return resultat

In [307]:
def binned_temp(x):
    if x <= 12:
        resultat = 0
    elif x >= 13 and x <= 22:
        resultat = 1
    elif x >= 23 and x <= 29:
        resultat = 2
    else:
        resultat = 2
    return resultat

In [308]:
df_all["NN_soleil_binned"] = df_all["NN_soleil"].apply(binned_soleil)
df_all["NO_temp_binned"] = df_all["NO_temp"].apply(binned_temp)

Liste des variables utilisées pour "MODELE_1":<br>
-CN_school
-NN_soleil
-NN_tendance_1
-NN_tendance_2
-NO_atemp
-NO_humidity
-NO_temp
-NO_windspeed

-datetime
-count

-CO_hour_mean_encoding
-CO_month_mean_encoding
-CO_day_mean_encoding
-CO_weather_ordinal_encoding
-CO_season_ordinal_encoding
-CO_year_ordinal_encoding
-CN_type_of_day

On crée des .pkl des dataframes contenant toutes les variables:

On distingue dans 2 dataframe différents :
- les données pour créer les modèles
- des données de test pour soumettre

In [309]:
df_all["day"] = pd.to_datetime(df_all["datetime"]).dt.day

df_train_for_models = df_all[df_all["day"] < 20 ]
df_test_kaggle = df_all[df_all["day"] >= 20]

df_train_for_models = df_train_for_models.drop("day", axis=1)
df_test_kaggle = df_test_kaggle.drop("day", axis=1)

In [312]:
# J'ai vérifié qu'on a les memes données par rapport à avant

# df_train_for_cv_o_n = pd.read_pickle("../data/df_train_for_cv_o_n_all_variables.pkl")
# df_test_kaggle_cv_o_n = pd.read_pickle("../data/df_test_kaggle_cv_o_n_all_variables.pkl")

In [ ]:
# df_train_for_cv_o_n.to_pickle("../data/df_train_for_cv_o_n_all_variables.pkl")
# df_test_kaggle_cv_o_n.to_pickle("../data/df_test_kaggle_cv_o_n_all_variables.pkl")

##### On stocke les dataframes avec toutes les features en .pkl

In [331]:
df_train_for_models.to_pickle("../data/df_train_all_variables.pkl")
df_test_kaggle.to_pickle("../data/df_test_kaggle_all_variables.pkl")

In [2]:
# df_train_for_cv_o_n_sk_mean_encoding_1 = df_train_for_cv_o_n[variables_to_keep_train]
# df_test_kaggle_cv_o_n_sk_mean_encoding_1 = df_test_kaggle_cv_o_n[variables_to_keep_test]
# df_train_for_cv_o_n_sk_mean_encoding_1.shape
# df_test_kaggle_cv_o_n_sk_mean_encoding_1.shape
# df_test_kaggle_cv_o_n_sk_mean_encoding_1.sample(n=5)
# df_train_for_cv_o_n_sk_mean_encoding_1.to_pickle("../data/df_train_for_cv_o_n_sk_mean_encoding_1.pkl")
# df_test_kaggle_cv_o_n_sk_mean_encoding_1.to_pickle("../data/df_test_kaggle_cv_o_n_sk_mean_encoding_1.pkl")

In [330]:
# df_for_cv_o_n_sk_encoded.dtypes

In [337]:
# df_for_cv_o_n_sk_encoded.describe()
# Encodage en numérique OK pour : day, month, season, weather, hour, year

In [338]:
# df_test_kaggle_o_n_sk_encoded.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,NO_windspeed,S_casual,S_casualQ,S_rateregis,S_rateregisQ,S_registered,S_registeredQ,datetime,CO_hour,CO_year
0,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,26.0027,0.328669,"(0.249,0.501]",0.805835,"(0.802,1]",0.788077,"(0.753,1]",2011-01-20 00:00:00,0,0
1,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,0.0000,0.277432,"(0.249,0.501]",0.698099,"(0.597,0.802]",0.541911,"(0.498,0.753]",2011-01-20 01:00:00,1,0
2,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,0.0000,0.120899,"[5.86e-05,0.249]",0.338947,"(0.194,0.4]",0.216304,"[0.000152,0.248]",2011-01-20 02:00:00,12,0
3,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,11.0014,0.158266,"[5.86e-05,0.249]",1.551012,"(1.25,1.69]",0.948388,"(0.753,1]",2011-01-20 03:00:00,17,0
4,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,11.0014,0.390428,"(0.249,0.501]",1.040613,"(1,1.25]",0.869250,"(0.753,1]",2011-01-20 04:00:00,18,0

Mais penser à faire d'abord un modèle "xgboost" avec :
CO_day, CO_month, CO_season, CO_weather, CO_hour et CO_year

In [340]:
# list(df_for_cv_o_n_sk_encoded)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'count']

In [347]:
# 1er modèle réalisé avec labels encoding de scikit learn
# des variables : ["CO_day", "CO_month", "CO_season", "CO_weather", "CO_hour" , "CO_year"]

# variables_to_keep_train = [each for each in list(df_for_cv_o_n_sk_encoded) if each[0] != 'S' and each[-1] != 'Q']
# variables_to_keep_test = [each for each in list(df_for_cv_o_n_sk_encoded) if each[0] != 'S' and each[-1] != 'Q' and each != 'count']
# df_for_cv_o_n_sk_encoded = df_for_cv_o_n_sk_encoded[variables_to_keep_train]
# df_test_kaggle_o_n_sk_encoded = df_test_kaggle_o_n_sk_encoded[variables_to_keep_test]
# df_for_cv_o_n_sk_encoded.shape
# df_test_kaggle_o_n_sk_encoded.shape
# df_for_cv_o_n_sk_encoded.to_pickle("../data/df_for_cv_o_n_sk_encoded.pkl")
# df_test_kaggle_o_n_sk_encoded.to_pickle("../data/df_test_kaggle_o_n_sk_encoded.pkl")

(6493, 17)

In [350]:
# df_test_kaggle_o_n_sk_encoded.head()

,CN_school,CO_day,CO_holiday,CO_month,CO_season,CO_weather,CO_workingday,NN_soleil,NN_tendance_1,NN_tendance_2,NO_atemp,NO_humidity,NO_temp,NO_windspeed,datetime,CO_hour,CO_year
0,0,4,0,4,2,0,1,-64.731114,0.920373,19,11.365,56,10.66,26.0027,2011-01-20 00:00:00,0,0
1,0,4,0,4,2,0,1,-70.858731,0.920373,19,13.635,56,10.66,0.0000,2011-01-20 01:00:00,1,0
2,0,4,0,4,2,0,1,-69.313963,0.920373,19,13.635,56,10.66,0.0000,2011-01-20 02:00:00,12,0
3,0,4,0,4,2,0,1,-61.327846,0.920373,19,12.880,56,10.66,11.0014,2011-01-20 03:00:00,17,0
4,0,4,0,4,2,0,1,-50.733442,0.920373,19,12.880,56,10.66,11.0014,2011-01-20 04:00:00,18,0

#### II Création de dataset à priori plus adapté pour une régression linéaire 
Création de interactions entre features catégorielles d'ordre 2<br>
Création ensuite de toutes les dummy variables à partir des:<br>
    - features catégorielles 
    - des interactions d'ordre 2 entre features catégorielles

On pourrait aussi ajouter les interactions entre variables numériques

In [ ]:
list(all_df)
# len(all_categorical)

In [40]:
all_categorical = [name_var for name_var in list(all_df) if name_var[0:1] == 'C']

In [42]:
all_df[all_categorical].dtypes

CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
CO_atempQ         object
CO_day            object
CO_holiday         int64
CO_humidityQ      object
CO_month          object
CO_season         object
CO_tempQ          object
CO_weather        object
CO_windspeedQ     object
CO_workingday      int64
CO_hour           object
CO_year           object
dtype: object

In [43]:
df_all_categorical = all_df[all_categorical].applymap(str)

In [44]:
df_all_categorical.shape

(17379, 16)

Ajout des interactions d'ordre 2 entre variables catégorielles

In [45]:
# On peut faire les interactions d'ordre 2 avec "Patsylearn" (différent de "Patsy") 
# C'est un package Github
# from patsylearn import PatsyTransformer
# from patsylearn import PatsyModel
# transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")

In [46]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var
    print (list(df))

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    # print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [48]:
df_with_interaction = interaction_order(df_all_categorical,all_categorical, 2)

['CN_school', 'CN_soleilQ', 'CN_tendance_1Q', 'CN_tendance_2Q', 'CO_atempQ', 'CO_day', 'CO_holiday', 'CO_humidityQ', 'CO_month', 'CO_season', 'CO_tempQ', 'CO_weather', 'CO_windspeedQ', 'CO_workingday', 'CO_hour', 'CO_year']

In [49]:
len(list(df_with_interaction))

120

In [50]:
df_with_interaction.head()

,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_school_+_CO_atempQ,CN_school_+_CO_day,CN_school_+_CO_holiday,CN_school_+_CO_humidityQ,CN_school_+_CO_month,CN_school_+_CO_season,CN_school_+_CO_tempQ,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [51]:
list(df_with_interaction)[0:5]

['CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_school_+_CO_atempQ',
 'CN_school_+_CO_day']

In [52]:
df_with_interaction[["CO_month_+_CO_season"]].head()

  CO_month_+_CO_season
0    January_Printemps
1    January_Printemps
2    January_Printemps
3    January_Printemps
4    January_Printemps

In [53]:
df_with_interaction.shape

(17379, 120)

In [ ]:
list(df_all_categorical)

In [54]:
df_all_categorical = all_df[all_categorical].applymap(str)
df_with_interaction = all_df.applymap(str)

In [56]:
df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)

In [57]:
df_before_dummies.shape

(17379, 136)

In [58]:
df_before_dummies.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [59]:
# Transformation de toutes les variables catégorielles:
df_all_dummies = pd.get_dummies(df_before_dummies)

In [60]:
df_all_dummies.shape

(17379, 6422)

In [61]:
# import random
# random.choices(list(df_all_dummies), k=10)

Rassemblement de toutes les variables : les numériques et toutes les dummy variables

In [66]:
all_df = pd.concat([all_df[['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2']], df_all_dummies], axis = 1)

In [67]:
all_df.shape

(17379, 6430)

On distingue les données de "train" + "test" pour réaliser les modèles<br>
versus les données de "test" de Kaggle

In [68]:
all_df["day"] = pd.to_datetime(all_df["datetime"]).dt.day

In [69]:
df_for_models = all_df[all_df["day"] < 20 ]
df_test_kaggle_interaction_and_dummies = all_df[all_df["day"] >= 20]

In [71]:
# df_for_cv_interaction_and_dummies = df_for_models
# del df_for_models

# On a besoin de la target pour créer des modèles
# df_for_cv_interaction_and_dummies = pd.concat([df_for_cv_interaction_and_dummies, df_train_kaggle_count], axis = 1)

# On n'a pas besoins de la colonne "day"
df_for_models = df_for_models.drop("day", axis = 1)
df_test_kaggle_interaction_and_dummies = df_test_kaggle_interaction_and_dummies.drop("day", axis = 1)

In [72]:
df_for_models.shape

(10886, 6431)

In [73]:
df_test_kaggle_interaction_and_dummies.shape

(6493, 6430)

In [74]:
# list(df_for_cv_interaction_and_dummies) == list(df_test_kaggle_interaction_and_dummies)

In [75]:
# Données en vue de faire créer des modèles
df_for_models.to_pickle("df_for_cv_interaction_and_dummies.pkl")
# Données de test de Kaggle 
df_test_kaggle_interaction_and_dummies.to_pickle("df_test_kaggle_interaction_and_dummies.pkl")

In [ ]:
Possibles modèles

In [ ]:
MODELE 1:
- Nouvelle variable : on binne la variable "CO_hour"
- Nouvelle variable : on binne la variable "CO_month"
- Nouvelles variables : on ajoute les variables ordinales
CO_season, CO_day, CO_year
- Nouvelle variable: type de jour

In [ ]:
MODELE 2:
- CO_weather : ordinale
- On binne CO_hour + CO_month
- CO_season, CO_day, CO_year: en dummy variables
- Nouvelle variable: type de jour