In [ ]:
### L'objet du Notebook est d'utiliser en entrée les données provenant de RStudio

En vue de faire de la cross validation et modéliser, création de 3 dataframes
    - un contenant les variables "Origin" et "New" 
    - un contenant les variables "Origin" et "New" avec transformation en numérique 
      des variables catégorielles
    - un autre contenant les variables "Origin" et "New" 
    + interactions d'ordre 2 pour les variables catégorielles + dummy variables
    

Les .csv qu'on utilise, ont été créés grâce au programme "maestro.R" dans "/proj/bikesharing/p02_features"

In [244]:
import pandas as pd
import numpy as np
from itertools import chain

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

# On charge les .csv générés grâce à "maestro.R"  dans RStudio 
df_train_kaggle_read = pd.read_csv("../data/train.csv")

# Le dataset "test" ne contient pas "count"
df_test_kaggle = pd.read_csv("../data/test.csv")

# Le dataset de "test" de Kaggle ne contient pas la variable "count"
# On supprime donc la colonne "count" pour le dataset "train"
df_train_kaggle = df_train_kaggle_read.drop("count", axis = 1)
df_train_kaggle_count = df_train_kaggle_read[["count"]]

# Et on concatène les données 
df = pd.concat([df_train_kaggle,df_test_kaggle])

/home/osboxes/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:23: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [245]:
df.shape

(17379, 30)

### On regarde quelles sont les variables catégorielles

In [246]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
# all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO'] 
# all_numeric_n = [name_var for name_var in list(df) if name_var[0:2] == 'NN'] 

# df[all_categorical_o].dtypes
# df_all_categorical_o = df[all_categorical_o].applymap(str)

ATTENTION: les variables "CO_hour" et "CO_year" sont apparemment<br>
considérées comme numérique, cf le ".describe()" ci-dessous<br>
On va donc les transformer grâce à str() pour qu'elles soient de type caractères

In [247]:
df[all_categorical_o].describe()

         CO_holiday       CO_hour  CO_workingday       CO_year
count  17379.000000  17379.000000   17379.000000  17379.000000
mean       0.031475     11.546752       0.682721   2011.502561
std        0.174602      6.914405       0.465431      0.500008
min        0.000000      0.000000       0.000000   2011.000000
25%        0.000000      6.000000       0.000000   2011.000000
50%        0.000000     12.000000       1.000000   2012.000000
75%        0.000000     18.000000       1.000000   2012.000000
max        1.000000     23.000000       1.000000   2012.000000

In [248]:
df['CO_hour_new'] = df['CO_hour'].map(lambda x: str(x))
df = df.drop('CO_hour', axis=1)
df = df.rename(columns={'CO_hour_new': 'CO_hour'})

df['CO_year_new'] = df['CO_year'].map(lambda x: str(x))
df = df.drop('CO_year', axis=1)
df = df.rename(columns={'CO_year_new': 'CO_year'})

In [249]:
df[all_categorical_o].describe()

         CO_holiday  CO_workingday
count  17379.000000   17379.000000
mean       0.031475       0.682721
std        0.174602       0.465431
min        0.000000       0.000000
25%        0.000000       0.000000
50%        0.000000       1.000000
75%        0.000000       1.000000
max        1.000000       1.000000

In [250]:
# Transformation de toutes les variables catégorielles:
# df_all_dummies_o = pd.get_dummies(df[all_categorical_o])eg_lambda=1
# df_all_dummies_o.shape
# list(df_all_dummies_o)

In [251]:
df.shape

(17379, 30)

In [252]:
df["day"] = pd.to_datetime(df["datetime"]).dt.day

df_train_for_models = df[df["day"] < 20 ]
df_test_kaggle_cv_o_n = df[df["day"] >= 20]

In [253]:
# df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
# df_for_models = pd.concat([df_for_models[["datetime"]], df_for_models[all_numeric_o],df_for_models[all_categorical_o]], axis = 1)

In [254]:
df_train_for_models.shape

(10886, 31)

In [255]:
# list_var_clean_X = [var for var in list(df_for_models) if var != "count" and var != "datetime"]
# clean_X = df_for_models[list_var_clean_X]
# clean_Y = df_for_models[["count"]]

# Soit on fait de la cross validation et utilise tout "df_for_models"
df_train_for_cv_o_n = df_train_for_models

del df_train_for_models

# Soit on splitte "df_for_models" en train + validation
# X_train, X_valid, Y_train, Y_valid = train_test_split(clean_X,
                                                      # clean_Y,
                                                      # test_size = 0.3,
                                                      # random_state = 0)

In [256]:
list(df_train_for_cv_o_n)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'day']

In [257]:
df_test_kaggle_cv_o_n.shape

(6493, 31)

In [258]:
# On n'a pas besoin de la variable "day"
df_train_for_cv_o_n = df_train_for_cv_o_n.drop("day", axis = 1)
# On a besoin de la target pour faire la cross validation !
df_train_for_cv_o_n = pd.concat([df_train_for_cv_o_n, df_train_kaggle_count], axis = 1)
df_test_kaggle_cv_o_n = df_test_kaggle_cv_o_n.drop("day", axis = 1)

In [259]:
df_train_for_cv_o_n.shape

(10886, 31)

In [260]:
df_test_kaggle_cv_o_n.shape

(6493, 30)

In [261]:
df_test_kaggle_cv_o_n.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,NO_windspeed,S_casual,S_casualQ,S_rateregis,S_rateregisQ,S_registered,S_registeredQ,datetime,CO_hour,CO_year
0,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",Thursday,0,"(49,65]",January,Printemps,...,26.0027,0.328669,"(0.249,0.501]",0.805835,"(0.802,1]",0.788077,"(0.753,1]",2011-01-20 00:00:00,0,2011
1,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",Thursday,0,"(49,65]",January,Printemps,...,0.0000,0.277432,"(0.249,0.501]",0.698099,"(0.597,0.802]",0.541911,"(0.498,0.753]",2011-01-20 01:00:00,1,2011
2,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",Thursday,0,"(49,65]",January,Printemps,...,0.0000,0.120899,"[5.86e-05,0.249]",0.338947,"(0.194,0.4]",0.216304,"[0.000152,0.248]",2011-01-20 02:00:00,2,2011
3,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",Thursday,0,"(49,65]",January,Printemps,...,11.0014,0.158266,"[5.86e-05,0.249]",1.551012,"(1.25,1.69]",0.948388,"(0.753,1]",2011-01-20 03:00:00,3,2011
4,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",Thursday,0,"(49,65]",January,Printemps,...,11.0014,0.390428,"(0.249,0.501]",1.040613,"(1,1.25]",0.869250,"(0.753,1]",2011-01-20 04:00:00,4,2011

In [262]:
list(df_test_kaggle_cv_o_n)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year']

In [263]:
# Données en vue de faire de la cross validation
# df_train_for_cv_o_n.to_pickle("df_train_for_cv_o_n.pkl")
# Données de test de Kaggle 
# df_test_kaggle_cv_o_n.to_pickle("df_test_kaggle_o_n.pkl")

### II On crée un autre dataset à partir du dataframe "df_train_for_cv_o_n"

#### Les variables à transformer sont celles en type "object" ie les variables catégorielles

In [264]:
df_test_kaggle_cv_o_n.shape

(6493, 30)

In [265]:
# df_train_for_cv_o_n['CO_day'].unique()
# df_train_for_cv_o_n['CO_month'].unique()

Rappels des variables présentes:
- 'CN_soleilQ'
- 'CN_tendance_1Q'
- 'CN_tendance_2Q'
- 'CO_atempQ'
- 'CO_day'
- 'CO_humidityQ'
- 'CO_month'
- 'CO_season'
- 'CO_tempQ'
- 'CO_weather'
- 'CO_windspeedQ'
- 'S_casualQ'
- 'S_rateregisQ'
- 'CO_hour'
- 'CO_year'

##### Nouvelles variables avec suffixes:
"_labels_encoded" pour : CO_day, CO_month, CO_season, CO_weather, CO_hour et CO_year

In [266]:
le_CO_day = LabelEncoder()
le_CO_month = LabelEncoder()
le_CO_season = LabelEncoder()
le_CO_weather = LabelEncoder()
le_CO_hour = LabelEncoder()
le_CO_year = LabelEncoder()

In [267]:
def labels_encoding(df):

    le_CO_day.fit(list(df.CO_day))
    le_CO_month.fit(list(df.CO_month))
    le_CO_season.fit(list(df.CO_season))
    le_CO_weather.fit(list(df.CO_weather))
    le_CO_hour.fit(list(df.CO_hour))
    le_CO_year.fit(list(df.CO_year))

    # le_CO_month.classes_
    df["CO_day_labels_encoding"] = list(le_CO_day.transform(list(df.CO_day)))
    df["CO_month_labels_encoding"] = list(le_CO_month.transform(list(df.CO_month)))
    df["CO_season_labels_encoding"] = list(le_CO_season.transform(list(df.CO_season)))
    df["CO_weather_labels_encoding"] = list(le_CO_weather.transform(list(df.CO_weather)))
    df["CO_hour_labels_encoding"] = list(le_CO_hour.transform(list(df.CO_hour)))
    df["CO_year_labels_encoding"] = list(le_CO_year.transform(list(df.CO_year)))
    
    resultat = df
    return resultat

In [268]:
df_train_for_cv_o_n = labels_encoding(df_train_for_cv_o_n)
df_test_kaggle_cv_o_n = labels_encoding(df_test_kaggle_cv_o_n)

In [269]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

liste_of_new_var = list(chain(*init))
liste_of_new_var

['CO_day',
 'CO_hour',
 'CO_month',
 'CO_season',
 'CO_weather',
 'CO_year',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding']

In [270]:
df_train_for_cv_o_n[liste_of_new_var].sample(n=5)
# ["CO_day", "CO_month", "CO_season", "CO_weather", "CO_hour" , "CO_year"]

,CO_day,CO_hour,CO_month,CO_season,CO_weather,CO_year,CO_day_labels_encoding,CO_month_labels_encoding,CO_season_labels_encoding,CO_weather_labels_encoding,CO_hour_labels_encoding,CO_year_labels_encoding
3625,Thursday,23,September,Automne,Beau temps,2011,4,11,0,0,16,0
5819,Tuesday,16,January,Printemps,Beau temps,2012,5,4,2,0,8,1
9486,Tuesday,15,September,Automne,Pluvieux (-),2012,5,11,0,3,7,1
8021,Thursday,14,June,Été,Beau temps,2012,4,6,3,0,6,1
7959,Tuesday,0,June,Été,Nuageux,2012,5,6,3,1,0,1

Idée: transformer CO_hour en ordinale + mesurer la corrélation<br> 
entre la variable ordinale obtenue et "count"<br>
Faire de meme avec : la variable moyenne de "count" par modalité de CO_hour<br>
avec "count"<br>
On met alors en évidence que la nouvelle variable est plus corrélée à "count"

In [271]:
### group by suivant CO_hour + mean(['count'])
# df_train_for_cv_o_n[['CO_hour','count']]
# df_train_for_cv_o_n[['CO_hour','count']].groupby(['CO_hour']).mean()

MODELE 1:
- Nouvelle variable : on binne la variable "CO_hour"
- Nouvelle variable : on binne la variable "CO_month"
- Nouvelles variables : on ajoute les variables ordinales
CO_season, CO_day, CO_year
- Nouvelle variable: type de jour

In [272]:
# Quelle est la moyenne de "count" pour chacun
# de ces bins de "hour" ?

In [273]:
Transformation en int de CO_hour

SyntaxError: invalid syntax (<ipython-input-273-dc23fd745df4>, line 1)

In [274]:
df_train_for_cv_o_n["CO_hour_int"] = df_train_for_cv_o_n["CO_hour"].apply(int)
df_test_kaggle_cv_o_n["CO_hour_int"] = df_test_kaggle_cv_o_n["CO_hour"].apply(int)

In [275]:
Utiliser des decision trees via scikit 
pour trouver l'optimal binning ou optimal collapsing

SyntaxError: invalid syntax (<ipython-input-275-303ab05eb6aa>, line 1)

In [276]:
Avec Rpart, on trouve en faisant: count ~ hour
BIN n°1: hour <= 7             0
BIN n°2: hour >= 22            1
BIN n°3: 10 =< hour <= 16      3
BIN n°4: hour == 8             2
BIN n°5: hour == 9             6
BIN n°6 : 20 =< hour <= 21     4
BIN n°7: hour == 17            5
BIN n°8: 18 =< hour <= 19      7

SyntaxError: invalid syntax (<ipython-input-276-14878c49d47b>, line 1)

In [277]:
# On se base sur le graphe 2D obtenu avec Shiny
# en croisant CO_hour avec count

#if 0 <= int(x) < 8:
##resultat = 0
#elif int(x) >= 19:
##resultat = 1
#elif int(x) == 9:
##resultat = 2   
#elif 9 < int(x) <= 16:
##resultat = 3   
#elif int(x) == 8:
##resultat = 4
#elif 17 <= int(x) <= 18:a
##resultat = 5

def mean_encoding_hour(x):
# mettre les moyennes par bin pour voir
    if int(x) < 8:
        resultat = 0
    elif int(x) >= 22:
        resultat = 1
    elif 9 < int(x) < 17:
        resultat = 3    
    elif int(x) == 8:
        resultat = 2
    elif int(x) == 9:
        resultat = 6      
    elif 20 <= int(x) <= 21:
        resultat = 4 
    elif int(x) == 17:
        resultat = 5
    elif 18 <= int(x) or int(x) <= 19:
        resultat = 7
    
    return resultat

def mean_encoding_month(x):
    if x in ['January', 'February', 'March', 'April', 'May']:          
        resultat = 0
    elif x in ['November','December']:
        resultat = 1
    elif x in ['June', 'July','August', 'September', 'October']:
        resultat = 2    
    return resultat

def mean_encoding_day(x):
    if x == 'Sunday':          
        resultat = 0
    elif x in ['Monday', 'Tuesday', 'Wednesday']:
        resultat = 1
    elif x in ['Thursday','Friday','Saturday']:
        resultat = 2    
    return resultat

In [278]:
df_train_for_cv_o_n.CO_day.unique()

array(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday'], dtype=object)

In [279]:
df_train_for_cv_o_n["CO_hour_mean_encoding"] = df_train_for_cv_o_n["CO_hour"].apply(mean_encoding_hour)
df_train_for_cv_o_n["CO_month_mean_encoding"] = df_train_for_cv_o_n["CO_month"].apply(mean_encoding_month)
df_train_for_cv_o_n["CO_day_mean_encoding"] = df_train_for_cv_o_n["CO_day"].apply(mean_encoding_day)

In [280]:
df_train_for_cv_o_n[["CO_hour_mean_encoding","count"]].groupby(["CO_hour_mean_encoding"]).mean()

                            count
CO_hour_mean_encoding
0                       55.437674
1                      111.542763
2                      362.769231
3                      244.915047
4                      200.944079
5                      468.765351
6                      221.780220
7                      373.069079

In [281]:
df_train_for_cv_o_n[["CO_month_mean_encoding","count"]].groupby(["CO_month_mean_encoding"]).mean()

                             count
CO_month_mean_encoding
0                       150.886843
1                       184.640702
2                       234.598112

In [282]:
df_train_for_cv_o_n[["CO_day_mean_encoding","count"]].groupby(["CO_day_mean_encoding"]).mean()

                           count
CO_day_mean_encoding
0                     180.839772
1                     189.508080
2                     197.261680

In [283]:
df_test_kaggle_cv_o_n["CO_hour_mean_encoding"] = df_test_kaggle_cv_o_n["CO_hour"].apply(mean_encoding_hour)
df_test_kaggle_cv_o_n["CO_month_mean_encoding"] = df_test_kaggle_cv_o_n["CO_month"].apply(mean_encoding_month)
df_test_kaggle_cv_o_n["CO_day_mean_encoding"] = df_test_kaggle_cv_o_n["CO_day"].apply(mean_encoding_day)

In [284]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

new_var_mean_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'mean_encoding' in each_name]
init.append(new_var_mean_encoding)

liste_of_new_var = list(chain(*init))
liste_of_new_var

['CO_day',
 'CO_hour',
 'CO_month',
 'CO_season',
 'CO_weather',
 'CO_year',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding',
 'CO_hour_mean_encoding',
 'CO_month_mean_encoding',
 'CO_day_mean_encoding']

On ajoute les variables ordinales : CO_weather, CO_season et CO_year

In [285]:
# np.expand_dims(np.array(df_train_for_cv_o_n.CO_season), axis = 1).shape

In [286]:
# oeCO_hour = OrdinalEncoder()
# oeCO_month = OrdinalEncoder()
# oeCO_day = OrdinalEncoder()
# oeCO_weather = OrdinalEncoder()
# oeCO_season = OrdinalEncoder()
# oeCO_year = OrdinalEncoder()

In [287]:
# A refaire car OrdinalEncoder()
# ne transforme en vraies valeurs ordinales:
# on recode manuellement
# def ordinal_encoding(df):
    
    #oe_CO_hour.fit(np.expand_dims(np.array(df.CO_hour), axis = 1))
    #oe_CO_month.fit(np.expand_dims(np.array(df.CO_month), axis = 1))
    #oe_CO_day.fit(np.expand_dims(np.array(df.CO_day), axis = 1))
    #oe_CO_weather.fit(np.expand_dims(np.array(df.CO_weather), axis = 1))
    #oe_CO_season.fit(np.expand_dims(np.array(df.CO_season), axis = 1))
    #oe_CO_year.fit(np.expand_dims(np.array(df.CO_year), axis = 1))

    ## oe_CO_season.categories_
    #df["CO_hour_ordinal_encoding"] = oe_CO_hour.transform(np.expand_dims(np.array(df.CO_hour), axis = 1))
    #df["CO_month_ordinal_encoding"] = oe_CO_month.transform(np.expand_dims(np.array(df.CO_month), axis = 1))
    #df["CO_day_ordinal_encoding"] = oe_CO_day.transform(np.expand_dims(np.array(df.CO_day), axis = 1))
    #df["CO_weather_ordinal_encoding"] = oe_CO_weather.transform(np.expand_dims(np.array(df.CO_weather), axis = 1))
    #df["CO_season_ordinal_encoding"] = oe_CO_season.transform(np.expand_dims(np.array(df.CO_season), axis = 1))
    #df["CO_year_ordinal_encoding"] = oe_CO_year.transform(np.expand_dims(np.array(df.CO_year), axis = 1))

    #resultat = df
    # return resultat

In [288]:
# df_train_for_cv_o_n = ordinal_encoding(df_train_for_cv_o_n)
# df_test_kaggle_cv_o_n = ordinal_encoding(df_test_kaggle_cv_o_n)

In [289]:
def build_correspondance(df,list_variables):
    dict_all_corresp = {}
    for each in list_variables:
        # print (each)
        str_categories = list(df[each].unique())      
        # print (str_categories)
        idx = 0
        for each in str_categories:
            dict_all_corresp[each] = idx
            idx += 1
        
    return dict_all_corresp
my_dict_all_corresp = build_correspondance(df_train_for_cv_o_n, ["CO_hour","CO_month","CO_day","CO_weather","CO_season","CO_year"])

In [290]:
def return_value(x):
    resultat = my_dict_all_corresp[x]
    return resultat

In [291]:
df_train_for_cv_o_n["CO_hour_ordinal_encoding"] = df_train_for_cv_o_n["CO_hour"].map(lambda x: return_value(x))
df_train_for_cv_o_n["CO_month_ordinal_encoding"] = df_train_for_cv_o_n["CO_month"].map(lambda x: return_value(x))
df_train_for_cv_o_n["CO_day_ordinal_encoding"] = df_train_for_cv_o_n["CO_day"].map(lambda x: return_value(x))
df_train_for_cv_o_n["CO_weather_ordinal_encoding"] = df_train_for_cv_o_n["CO_weather"].map(lambda x: return_value(x))
df_train_for_cv_o_n["CO_season_ordinal_encoding"] = df_train_for_cv_o_n["CO_season"].map(lambda x: return_value(x))
df_train_for_cv_o_n["CO_year_ordinal_encoding"] = df_train_for_cv_o_n["CO_year"].map(lambda x: return_value(x))

df_test_kaggle_cv_o_n["CO_hour_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_hour"].map(lambda x: return_value(x))
df_test_kaggle_cv_o_n["CO_month_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_month"].map(lambda x: return_value(x))
df_test_kaggle_cv_o_n["CO_day_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_day"].map(lambda x: return_value(x))
df_test_kaggle_cv_o_n["CO_weather_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_weather"].map(lambda x: return_value(x))
df_test_kaggle_cv_o_n["CO_season_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_season"].map(lambda x: return_value(x))
df_test_kaggle_cv_o_n["CO_year_ordinal_encoding"] = df_test_kaggle_cv_o_n["CO_year"].map(lambda x: return_value(x))

In [292]:
list(df_train_for_cv_o_n)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'count',
 'CO_day_labels_encoding',
 'CO_month_labels_encoding',
 'CO_season_labels_encoding',
 'CO_weather_labels_encoding',
 'CO_hour_labels_encoding',
 'CO_year_labels_encoding',
 'CO_hour_int',
 'CO_hour_mean_encoding',
 'CO_month_mean_encoding',
 'CO_day_mean_encoding',
 'CO_hour_ordinal_encoding',
 'CO_month_ordinal_encoding',
 'CO_day_ordinal_encoding',
 'CO_weather_ordinal_encoding',
 'CO_season_ordinal_encoding',
 'CO_year_ordinal_encoding']

In [293]:
init = []
init.append(['CO_day', 'CO_hour', 'CO_month', 'CO_season', 'CO_weather', 'CO_year'])
new_var_labels_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'labels_encoding' in each_name]
init.append(new_var_labels_encoding)

new_var_mean_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'mean_encoding' in each_name]
init.append(new_var_mean_encoding)

new_var_ordinal_encoding = [each_name for each_name in list(df_train_for_cv_o_n) if 'ordinal_encoding' in each_name]
init.append(new_var_ordinal_encoding)

liste_of_new_var = list(chain(*init))
df_train_for_cv_o_n[liste_of_new_var].sample(n=5)

,CO_day,CO_hour,CO_month,CO_season,CO_weather,CO_year,CO_day_labels_encoding,CO_month_labels_encoding,CO_season_labels_encoding,CO_weather_labels_encoding,...,CO_year_labels_encoding,CO_hour_mean_encoding,CO_month_mean_encoding,CO_day_mean_encoding,CO_hour_ordinal_encoding,CO_month_ordinal_encoding,CO_day_ordinal_encoding,CO_weather_ordinal_encoding,CO_season_ordinal_encoding,CO_year_ordinal_encoding
4320,Wednesday,1,October,Hiver,Pluvieux (-),2011,6,10,1,3,...,0,0,2,1,1,9,4,2,3,0
4399,Saturday,8,October,Hiver,Beau temps,2011,2,10,1,0,...,0,2,2,2,8,9,0,0,3,0
5521,Thursday,4,January,Printemps,Nuageux,2012,4,4,2,1,...,1,0,0,2,4,0,5,1,0,1
3298,Sunday,8,August,Automne,Beau temps,2011,3,1,0,0,...,0,2,2,0,8,7,1,0,2,0
2577,Wednesday,7,June,Été,Beau temps,2011,6,6,3,0,...,0,0,2,1,7,5,4,0,1,0

Nouvelle variable: type de jour<br>
Ou bien on est un jour travaillé<br>
ou un jour du week end<br> 
ou un jour férié<br>
Grâce aux variables :
- CO_workingday = jour de travail = 0/1
- CO_holiday = jour férié = 0/1

In [294]:
df_train_for_cv_o_n[["datetime","CO_workingday","CO_holiday","CN_school"]].sample(n=20)

                 datetime  CO_workingday  CO_holiday  CN_school
6389  2012-03-03 11:00:00              0           0          0
6809  2012-04-02 00:00:00              1           0          1
6924  2012-04-06 20:00:00              1           0          1
9170  2012-09-05 11:00:00              1           0          0
6697  2012-03-16 08:00:00              1           0          0
3742  2011-09-06 21:00:00              1           0          0
4030  2011-09-18 23:00:00              0           0          0
8270  2012-07-05 23:00:00              1           0          1
7975  2012-06-12 16:00:00              1           0          0
3595  2011-08-19 17:00:00              1           0          1
2690  2011-07-01 00:00:00              1           0          1
8452  2012-07-13 13:00:00              1           0          1
5813  2012-01-17 10:00:00              1           0          0
7521  2012-05-12 18:00:00              0           0          0
195   2011-01-09 10:00:00              0           0          0
377   2011-01-17 05:00:00              0           1          1
9181  2012-09-05 22:00:00              1           0          0
7892  2012-06-09 05:00:00              0           0          0
6027  2012-02-07 09:00:00              1           0          0
7174  2012-04-17 07:00:00              1           0          0

On crée une seule variable "ordinale" grâce aux 2 variables : CO_workingday et CO_holiday

In [295]:
def type_of_day(df):
    # Jour de travail
    if df.CO_workingday == 1 and df.CO_holiday == 0:
        resultat = 0
    # Jour de week end
    elif df.CO_workingday == 0 and df.CO_holiday == 0:
        resultat = 1
    # Jour férié 
    else:
        resultat = 2
    return resultat
df_train_for_cv_o_n["CN_type_of_day"] = df_train_for_cv_o_n.apply(type_of_day, axis = 1)
df_test_kaggle_cv_o_n["CN_type_of_day"] = df_test_kaggle_cv_o_n.apply(type_of_day, axis = 1)

In [296]:
def week_end(df):
    if df.CO_day != "Saturday" and df.CO_day != "Sunday":
        resultat = 0
    else:
        resultat = 1
    return resultat
df_train_for_cv_o_n["CN_week_end"] = df_train_for_cv_o_n.apply(week_end, axis = 1)
df_test_kaggle_cv_o_n["CN_week_end"] = df_test_kaggle_cv_o_n.apply(week_end, axis = 1)

In [297]:
NOUVELLES VARIABLES bins de NN_soleil et NO_temp

SyntaxError: invalid syntax (<ipython-input-297-ea6c42d5ed62>, line 1)

In [300]:
print ("value", -22)

value -22

In [302]:
def binned_soleil(x):
    if x < -22:
        resultat = 0
    elif x < -7.6 and x >= -22:
        resultat = 1
    else:
        resultat = 2
    return resultat

In [304]:
def binned_temp(x):
    if x <= 12:
        resultat = 0
    elif x >= 13 and x <= 22:
        resultat = 1
    elif x >= 23 and x <= 29:
        resultat = 2
    else:
        resultat = 2
    return resultat

In [305]:
df_train_for_cv_o_n["NN_soleil_binned"] = df_train_for_cv_o_n["NN_soleil"].apply(binned_soleil)
df_train_for_cv_o_n["NO_temp_binned"] = df_train_for_cv_o_n["NO_temp"].apply(binned_temp)

In [ ]:
df_test_kaggle_cv_o_n["NN_soleil_binned"] = df_test_kaggle_cv_o_n["NN_soleil"].apply(binned_soleil)
df_test_kaggle_cv_o_n["NO_temp_binned"] = df_test_kaggle_cv_o_n["NO_temp"].apply(binned_temp)

Liste des variables utilisées pour "MODELE_1":<br>
-CN_school
-NN_soleil
-NN_tendance_1
-NN_tendance_2
-NO_atemp
-NO_humidity
-NO_temp
-NO_windspeed

-datetime
-count

-CO_hour_mean_encoding
-CO_month_mean_encoding
-CO_day_mean_encoding
-CO_weather_ordinal_encoding
-CO_season_ordinal_encoding
-CO_year_ordinal_encoding
-CN_type_of_day

On crée des .pkl des dataframes contenant toutes les variables:

In [306]:
df_train_for_cv_o_n.to_pickle("../data/df_train_for_cv_o_n_all_variables.pkl")
df_test_kaggle_cv_o_n.to_pickle("../data/df_test_kaggle_cv_o_n_all_variables.pkl")

In [254]:
variables_to_keep_train = ['CN_school',
'NN_soleil',
'NN_tendance_1',
'NN_tendance_2',
'NO_atemp',
'NO_humidity',
'NO_temp',
'NO_windspeed',
'datetime',
'count',
'CO_hour_mean_encoding',
'CO_month_mean_encoding',
'CO_day_mean_encoding',
'CO_weather_ordinal_encoding',
'CO_season_ordinal_encoding',
'CO_year_ordinal_encoding',
'CN_type_of_day']
variables_to_keep_test = ['CN_school',
'NN_soleil',
'NN_tendance_1',
'NN_tendance_2',
'NO_atemp',
'NO_humidity',
'NO_temp',
'NO_windspeed',
'datetime',
'CO_hour_mean_encoding',
'CO_month_mean_encoding',
'CO_day_mean_encoding',
'CO_weather_ordinal_encoding',
'CO_season_ordinal_encoding',
'CO_year_ordinal_encoding',
'CN_type_of_day']

In [361]:
df_train_for_cv_o_n_sk_mean_encoding_1 = df_train_for_cv_o_n[variables_to_keep_train]
df_test_kaggle_cv_o_n_sk_mean_encoding_1 = df_test_kaggle_cv_o_n[variables_to_keep_test]

In [362]:
df_train_for_cv_o_n_sk_mean_encoding_1.shape

(10886, 17)

In [364]:
df_test_kaggle_cv_o_n_sk_mean_encoding_1.shape

(6493, 16)

In [367]:
df_test_kaggle_cv_o_n_sk_mean_encoding_1.sample(n=5)

,CN_school,NN_soleil,NN_tendance_1,NN_tendance_2,NO_atemp,NO_humidity,NO_temp,NO_windspeed,datetime,CO_hour_mean_encoding,CO_month_mean_encoding,CO_day_mean_encoding,CO_weather_ordinal_encoding,CO_season_ordinal_encoding,CO_year_ordinal_encoding,CN_type_of_day
698,0,-46.090147,0.963799,88,17.425,57,13.12,0.0000,2011-03-30 02:00:00,0,0,0,1.0,3.0,0.0,0
2891,0,-72.498785,0.929079,332,25.000,83,21.32,6.0032,2011-11-29 01:00:00,0,2,0,0.0,1.0,0.0,0
3633,0,-43.820223,1.208349,420,13.635,42,12.30,22.0028,2012-02-25 04:00:00,0,0,1,0.0,2.0,1.0,1
5321,0,60.778684,1.051918,604,35.605,57,31.16,11.0014,2012-08-27 13:00:00,2,1,0,0.0,0.0,1.0,0
1486,1,-13.394015,1.014383,177,31.820,69,27.88,0.0000,2011-06-27 22:00:00,4,1,0,0.0,0.0,0.0,0

In [369]:
df_train_for_cv_o_n_sk_mean_encoding_1.to_pickle("../data/df_train_for_cv_o_n_sk_mean_encoding_1.pkl")
df_test_kaggle_cv_o_n_sk_mean_encoding_1.to_pickle("../data/df_test_kaggle_cv_o_n_sk_mean_encoding_1.pkl")

In [ ]:
MODELE 2:
- CO_weather : ordinale
- On binne CO_hour + CO_month
- CO_season, CO_day, CO_year: en dummy variables
- Nouvelle variable: type de jour

In [336]:
df_for_cv_o_n_sk_encoded.dtypes

CN_school           int64
CN_soleilQ         object
CN_tendance_1Q     object
CN_tendance_2Q     object
CO_atempQ          object
CO_day              int64
CO_holiday          int64
CO_humidityQ       object
CO_month            int64
CO_season           int64
CO_tempQ           object
CO_weather          int64
CO_windspeedQ      object
CO_workingday       int64
NN_soleil         float64
NN_tendance_1     float64
NN_tendance_2       int64
NO_atemp          float64
NO_humidity         int64
NO_temp           float64
NO_windspeed      float64
S_casual          float64
S_casualQ          object
S_rateregis       float64
S_rateregisQ       object
S_registered      float64
S_registeredQ      object
datetime           object
CO_hour             int64
CO_year             int64
count               int64
dtype: object

In [337]:
# df_for_cv_o_n_sk_encoded.describe()
# Encodage en numérique OK pour : day, month, season, weather, hour, year

In [338]:
df_test_kaggle_o_n_sk_encoded.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,NO_windspeed,S_casual,S_casualQ,S_rateregis,S_rateregisQ,S_registered,S_registeredQ,datetime,CO_hour,CO_year
0,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,26.0027,0.328669,"(0.249,0.501]",0.805835,"(0.802,1]",0.788077,"(0.753,1]",2011-01-20 00:00:00,0,0
1,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,0.0000,0.277432,"(0.249,0.501]",0.698099,"(0.597,0.802]",0.541911,"(0.498,0.753]",2011-01-20 01:00:00,1,0
2,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,0.0000,0.120899,"[5.86e-05,0.249]",0.338947,"(0.194,0.4]",0.216304,"[0.000152,0.248]",2011-01-20 02:00:00,12,0
3,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,11.0014,0.158266,"[5.86e-05,0.249]",1.551012,"(1.25,1.69]",0.948388,"(0.753,1]",2011-01-20 03:00:00,17,0
4,0,"[-74.5,-27.9]","[0.828,0.92]","[19,86]","[0,16.7]",4,0,"(49,65]",4,2,...,11.0014,0.390428,"(0.249,0.501]",1.040613,"(1,1.25]",0.869250,"(0.753,1]",2011-01-20 04:00:00,18,0

Mais penser à faire d'abord un modèle "xgboost" avec :
CO_day, CO_month, CO_season, CO_weather, CO_hour et CO_year

In [340]:
list(df_for_cv_o_n_sk_encoded)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'count']

In [341]:
variables_to_keep_train = [each for each in list(df_for_cv_o_n_sk_encoded) if each[0] != 'S' and each[-1] != 'Q']
variables_to_keep_test = [each for each in list(df_for_cv_o_n_sk_encoded) if each[0] != 'S' and each[-1] != 'Q' and each != 'count']

In [343]:
df_for_cv_o_n_sk_encoded.shape

(10886, 31)

In [344]:
df_test_kaggle_o_n.shape

(6493, 30)

In [345]:
df_for_cv_o_n_sk_encoded = df_for_cv_o_n_sk_encoded[variables_to_keep_train]
df_test_kaggle_o_n_sk_encoded = df_test_kaggle_o_n_sk_encoded[variables_to_keep_test]

In [346]:
df_for_cv_o_n_sk_encoded.shape

(10886, 18)

In [347]:
df_test_kaggle_o_n_sk_encoded.shape

(6493, 17)

In [348]:
df_for_cv_o_n_sk_encoded.to_pickle("../data/df_for_cv_o_n_sk_encoded.pkl")

In [349]:
df_test_kaggle_o_n_sk_encoded.to_pickle("../data/df_test_kaggle_o_n_sk_encoded.pkl")

In [350]:
df_test_kaggle_o_n_sk_encoded.head()

,CN_school,CO_day,CO_holiday,CO_month,CO_season,CO_weather,CO_workingday,NN_soleil,NN_tendance_1,NN_tendance_2,NO_atemp,NO_humidity,NO_temp,NO_windspeed,datetime,CO_hour,CO_year
0,0,4,0,4,2,0,1,-64.731114,0.920373,19,11.365,56,10.66,26.0027,2011-01-20 00:00:00,0,0
1,0,4,0,4,2,0,1,-70.858731,0.920373,19,13.635,56,10.66,0.0000,2011-01-20 01:00:00,1,0
2,0,4,0,4,2,0,1,-69.313963,0.920373,19,13.635,56,10.66,0.0000,2011-01-20 02:00:00,12,0
3,0,4,0,4,2,0,1,-61.327846,0.920373,19,12.880,56,10.66,11.0014,2011-01-20 03:00:00,17,0
4,0,4,0,4,2,0,1,-50.733442,0.920373,19,12.880,56,10.66,11.0014,2011-01-20 04:00:00,18,0

#### III Création d'un dataset avec les variables Origin et New et interactions entre catégorielles d'ordre 2<br>

On pourra aussi ajouter les interactions entre variables numériques

On prend toutes les variables "CO", "NO", "NN" et "CN"

On a déjà "df_for_models"

In [40]:
all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']

In [41]:
len(all_categorical)

16

In [42]:
df[all_categorical].dtypes

CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
CO_atempQ         object
CO_day            object
CO_holiday         int64
CO_humidityQ      object
CO_month          object
CO_season         object
CO_tempQ          object
CO_weather        object
CO_windspeedQ     object
CO_workingday      int64
CO_hour           object
CO_year           object
dtype: object

In [43]:
df_all_categorical = df[all_categorical].applymap(str)

In [44]:
df_all_categorical.shape

(17379, 16)

Ajout des interactions d'ordre 2 entre variables catégorielles

In [45]:
# On peut faire les interactions d'ordre 2 avec "Patsylearn" (différent de "Patsy") 
# C'est un package Github
# from patsylearn import PatsyTransformer
# from patsylearn import PatsyModel
# transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")

In [46]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var
    print (list(df))

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    # print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [47]:
df.shape

(17379, 31)

In [48]:
df_with_interaction = interaction_order(df_all_categorical,all_categorical, 2)

['CN_school', 'CN_soleilQ', 'CN_tendance_1Q', 'CN_tendance_2Q', 'CO_atempQ', 'CO_day', 'CO_holiday', 'CO_humidityQ', 'CO_month', 'CO_season', 'CO_tempQ', 'CO_weather', 'CO_windspeedQ', 'CO_workingday', 'CO_hour', 'CO_year']

In [49]:
len(list(df_with_interaction))

120

In [50]:
df_with_interaction.head()

,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_school_+_CO_atempQ,CN_school_+_CO_day,CN_school_+_CO_holiday,CN_school_+_CO_humidityQ,CN_school_+_CO_month,CN_school_+_CO_season,CN_school_+_CO_tempQ,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(77,100]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,"0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","0_[0.76,16.7]",0_Saturday,0_1,"0_(62,77]",0_January,0_Printemps,"0_[0.82,13.9]",...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [51]:
list(df_with_interaction)[0:5]

['CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_school_+_CO_atempQ',
 'CN_school_+_CO_day']

In [52]:
df_with_interaction[["CO_month_+_CO_season"]].head()

  CO_month_+_CO_season
0    January_Printemps
1    January_Printemps
2    January_Printemps
3    January_Printemps
4    January_Printemps

In [53]:
df_with_interaction.shape

(17379, 120)

In [54]:
df_all_categorical = df[all_categorical].applymap(str)
df_with_interaction = df_with_interaction.applymap(str)

In [55]:
list(df_all_categorical)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_hour',
 'CO_year']

In [56]:
df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)

In [57]:
df_before_dummies.shape

(17379, 136)

In [58]:
df_before_dummies.head()

,CN_school,CN_soleilQ,CN_tendance_1Q,CN_tendance_2Q,CO_atempQ,CO_day,CO_holiday,CO_humidityQ,CO_month,CO_season,...,CO_weather_+_CO_windspeedQ,CO_weather_+_CO_workingday,CO_weather_+_CO_hour,CO_weather_+_CO_year,CO_windspeedQ_+_CO_workingday,CO_windspeedQ_+_CO_hour,CO_windspeedQ_+_CO_year,CO_workingday_+_CO_hour,CO_workingday_+_CO_year,CO_hour_+_CO_year
0,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_0,Beau temps_2011,"[0,7]_0","[0,7]_0","[0,7]_2011",0_0,0_2011,0_2011
1,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_1,Beau temps_2011,"[0,7]_0","[0,7]_1","[0,7]_2011",0_1,0_2011,1_2011
2,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(77,100]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_2,Beau temps_2011,"[0,7]_0","[0,7]_2","[0,7]_2011",0_2,0_2011,2_2011
3,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_3,Beau temps_2011,"[0,7]_0","[0,7]_3","[0,7]_2011",0_3,0_2011,3_2011
4,0,"[-74.5,-28]","[0.409,0.432]","[0,67]","[0.76,16.7]",Saturday,1,"(62,77]",January,Printemps,...,"Beau temps_[0,7]",Beau temps_0,Beau temps_4,Beau temps_2011,"[0,7]_0","[0,7]_4","[0,7]_2011",0_4,0_2011,4_2011

In [59]:
# Transformation de toutes les variables catégorielles:
df_all_dummies = pd.get_dummies(df_before_dummies)

In [60]:
df_all_dummies.shape

(17379, 6422)

In [61]:
# import random
# random.choices(list(df_all_dummies), k=10)

In [62]:
all_categorical

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'CO_hour',
 'CO_year']

In [63]:
list(df)

['CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_atempQ',
 'CO_day',
 'CO_holiday',
 'CO_humidityQ',
 'CO_month',
 'CO_season',
 'CO_tempQ',
 'CO_weather',
 'CO_windspeedQ',
 'CO_workingday',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'NO_atemp',
 'NO_humidity',
 'NO_temp',
 'NO_windspeed',
 'S_casual',
 'S_casualQ',
 'S_rateregis',
 'S_rateregisQ',
 'S_registered',
 'S_registeredQ',
 'datetime',
 'CO_hour',
 'CO_year',
 'day']

In [64]:
df_all_dummies.shape

(17379, 6422)

Rassemblement de toutes les variables : les numériques et toutes les dummy variables

In [65]:
# nodup = []
# for each in ['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2'] + list(df_all_dummies):
   # if each not in nodup:
       # nodup.append(each)
# nodup == ['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2'] + list(df_all_dummies)
# True

In [66]:
all_df = pd.concat([df[['datetime','NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2']], df_all_dummies], axis = 1)

In [67]:
all_df.shape

(17379, 6430)

On distingue les données de "train" + "test" pour réaliser les modèles<br>
versus les données de "test" de Kaggle

In [68]:
all_df["day"] = pd.to_datetime(all_df["datetime"]).dt.day

In [69]:
df_for_models = all_df[all_df["day"] < 20 ]
df_test_kaggle_interaction_and_dummies = all_df[all_df["day"] >= 20]

In [70]:
df_for_models.shape

(10886, 6431)

In [71]:
df_for_cv_interaction_and_dummies = df_for_models
del df_for_models

# On a besoin de la target pour faire la cross validation !
df_for_cv_interaction_and_dummies = pd.concat([df_for_cv_interaction_and_dummies, df_train_kaggle_count], axis = 1)

df_for_cv_interaction_and_dummies = df_for_cv_interaction_and_dummies.drop("day", axis = 1)
df_test_kaggle_interaction_and_dummies = df_test_kaggle_interaction_and_dummies.drop("day", axis = 1)

In [72]:
df_for_cv_interaction_and_dummies.shape

(10886, 6431)

In [73]:
df_test_kaggle_interaction_and_dummies.shape

(6493, 6430)

In [74]:
# list(df_for_cv_interaction_and_dummies) == list(df_test_kaggle_interaction_and_dummies)

In [75]:
# Données en vue de faire de la cross validation
df_for_cv_interaction_and_dummies.to_pickle("df_for_cv_interaction_and_dummies.pkl")
# Données de test de Kaggle 
df_test_kaggle_interaction_and_dummies.to_pickle("df_test_kaggle_interaction_and_dummies.pkl")

In [76]:
# Données pour apprentissage des modèles
# X_train.to_pickle("X_train_n.pkl")
# X_test.to_pickle("X_test_n.pkl")
# Y_train.to_pickle("Y_train_n.pkl")
# Y_test.to_pickle("Y_test_n.pkl")